@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?mo1on7');
  src:  url('../fonts/icomoon.eot?mo1on7#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?mo1on7') format('truetype'),
    url('../fonts/icomoon.woff?mo1on7') format('woff'),
    url('../fonts/icomoon.svg?mo1on7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-auto:before {
  content: "\e924";
}
.icon-buses:before {
  content: "\e925";
}
.icon-desktop:before {
  content: "\e926";
}
.icon-equipment:before {
  content: "\e927";
}
.icon-home:before {
  content: "\e928";
}
.icon-list:before {
  content: "\e929";
}
.icon-profit:before {
  content: "\e92a";
}
.icon-file-png .path1:before {
  content: "\e90e";
  color: rgb(78, 82, 97);
}
.icon-file-png .path2:before {
  content: "\e90f";
  margin-left: -0.7724609375em;
  color: rgb(78, 82, 97);
}
.icon-file-png .path3:before {
  content: "\e910";
  margin-left: -0.7724609375em;
  color: rgb(78, 82, 97);
}
.icon-file-png .path4:before {
  content: "\e911";
  margin-left: -0.7724609375em;
  color: rgb(78, 82, 97);
}
.icon-file-png .path5:before {
  content: "\e912";
  margin-left: -0.7724609375em;
  color: rgb(78, 82, 97);
}
.icon-file-png .path6:before {
  content: "\e913";
  margin-left: -0.7724609375em;
  color: rgb(78, 82, 97);
}
.icon-file-png .path7:before {
  content: "\e914";
  margin-left: -0.7724609375em;
  color: rgb(78, 82, 97);
}
.icon-file-png .path8:before {
  content: "\e915";
  margin-left: -0.7724609375em;
  color: rgb(78, 82, 97);
}
.icon-file-png .path9:before {
  content: "\e916";
  margin-left: -0.7724609375em;
  color: rgb(255, 255, 255);
}
.icon-file-png .path10:before {
  content: "\e917";
  margin-left: -0.7724609375em;
  color: rgb(255, 255, 255);
}
.icon-file-png .path11:before {
  content: "\e918";
  margin-left: -0.7724609375em;
  color: rgb(255, 255, 255);
}
.icon-close:before {
  content: "\e901";
}
.icon-date:before {
  content: "\e902";
}
.icon-file-jpg .path1:before {
  content: "\e903";
  color: rgb(75, 81, 97);
}
.icon-file-jpg .path2:before {
  content: "\e904";
  margin-left: -0.80078125em;
  color: rgb(75, 81, 97);
}
.icon-file-jpg .path3:before {
  content: "\e905";
  margin-left: -0.80078125em;
  color: rgb(75, 81, 97);
}
.icon-file-jpg .path4:before {
  content: "\e906";
  margin-left: -0.80078125em;
  color: rgb(75, 81, 97);
}
.icon-file-jpg .path5:before {
  content: "\e907";
  margin-left: -0.80078125em;
  color: rgb(75, 81, 97);
}
.icon-file-jpg .path6:before {
  content: "\e908";
  margin-left: -0.80078125em;
  color: rgb(75, 81, 97);
}
.icon-file-jpg .path7:before {
  content: "\e909";
  margin-left: -0.80078125em;
  color: rgb(75, 81, 97);
}
.icon-file-jpg .path8:before {
  content: "\e90a";
  margin-left: -0.80078125em;
  color: rgb(75, 81, 97);
}
.icon-file-jpg .path9:before {
  content: "\e90b";
  margin-left: -0.80078125em;
  color: rgb(255, 255, 255);
}
.icon-file-jpg .path10:before {
  content: "\e90c";
  margin-left: -0.80078125em;
  color: rgb(255, 255, 255);
}
.icon-file-jpg .path11:before {
  content: "\e90d";
  margin-left: -0.80078125em;
  color: rgb(255, 255, 255);
}
.icon-grafic:before {
  content: "\e919";
}
.icon-hat:before {
  content: "\e91a";
}
.icon-lots:before {
  content: "\e91b";
}
.icon-lots2:before {
  content: "\e91c";
}
.icon-ok:before {
  content: "\e91d";
}
.icon-peoples:before {
  content: "\e91e";
}
.icon-portfolio:before {
  content: "\e91f";
}
.icon-rub:before {
  content: "\e920";
}
.icon-rub-close:before {
  content: "\e921";
}
.icon-settings:before {
  content: "\e922";
}
.icon-statistic:before {
  content: "\e923";
}
.icon-commun:before {
  content: "\e900";
}

