@charset "UTF-8";
/* ================================================ */
/*--                                             -- */
/*--     1. Fonts                                -- */
/*--     2. Normalize                            -- */
/*--     3. Main                                 -- */
/*--       3.1 Icons                             -- */
/*--       3.2 Buttons                           -- */
/*--       3.3 Forms                             -- */
/*--     4. Header                               -- */
/*--     5. Content                              -- */
/*--     6. Footer                               -- */
/*--     7. Media                                -- */
/*--                                             -- */
/* ================================================ */
/* 1. FONTS */
/* ================================================ */
@font-face { font-family: "Roboto"; src: url("../fonts/RobotoLight.eot"); src: url("../fonts/RobotoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoLight.woff2") format("woff2"), url("../fonts/RobotoLight.woff?ver1.0") format("woff"), url("../fonts/RobotoLight.ttf") format("truetype"), url("../fonts/RobotoLight.svg#RobotoLight") format("svg"); font-style: normal; font-weight: 300; }
@font-face { font-family: "Roboto"; src: url("../fonts/Roboto.eot"); src: url("../fonts/Roboto.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto.woff2") format("woff2"), url("../fonts/Roboto.woff?ver1.0") format("woff"), url("../fonts/Roboto.ttf") format("truetype"), url("../fonts/Roboto.svg#Roboto") format("svg"); font-style: normal; font-weight: 400; }
@font-face { font-family: "Roboto"; src: url("../fonts/RobotoMedium.eot"); src: url("../fonts/RobotoMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoMedium.woff2") format("woff2"), url("../fonts/RobotoMedium.woff?ver1.0") format("woff"), url("../fonts/RobotoMedium.ttf") format("truetype"), url("../fonts/RobotoMedium.svg#RobotoMedium") format("svg"); font-style: normal; font-weight: 500; }
@font-face { font-family: "Roboto"; src: url("../fonts/RobotoBold.eot"); src: url("../fonts/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold.woff2") format("woff2"), url("../fonts/RobotoBold.woff?ver1.0") format("woff"), url("../fonts/RobotoBold.ttf") format("truetype"), url("../fonts/RobotoBold.svg#RobotoBold") format("svg"); font-style: normal; font-weight: 700; }
@font-face { font-family: "Roboto"; src: url("../fonts/RobotoBlack.eot"); src: url("../fonts/RobotoBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBlack.woff2") format("woff2"), url("../fonts/RobotoBlack.woff?ver1.0") format("woff"), url("../fonts/RobotoBlack.ttf") format("truetype"), url("../fonts/RobotoBlack.svg#RobotoBlack") format("svg"); font-style: normal; font-weight: 900; }
/* 2. NORMALIZE */
/* ================================================ */
html, body, div, span, applet, main, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, main, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { margin: 0px; padding: 0px; font-family: "Roboto", Arial, Tahoma, sans-serif; line-height: 1.1; background-color: #ffffff; height: 100%; position: relative; font-size: 16px; font-weight: 400; color: #4b5161; letter-spacing: 0.4px; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; background-image: linear-gradient(to left, #bdf6ff 0%, #f0fcff 99%, #f1fcff 100%); background-image: -webkit-linear-gradient(to left, #bdf6ff 0%, #f0fcff 99%, #f1fcff 100%); }
body.g-du .main-wrapper { background-color: #f8feff; background-image: linear-gradient(219deg, #aaf4ff 0%, #d8f8ff 100%); background-image: -webkit-linear-gradient(219deg, #aaf4ff 0%, #d8f8ff 100%); }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after { content: ""; content: none; }

q:before, q:after { content: ""; content: none; }

table { border-collapse: collapse; border-width: 0px; padding: 0px; margin: 0px; }

html { height: 100%; -webkit-text-size-adjust: none; -ms-text-size-adjust: none; }

input, textarea { color: #333; outline: none; border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; -webkit-appearance: none; }

input[type="button"], input[type="submit"] { cursor: pointer; -webkit-appearance: none; outline: none; }

button { cursor: pointer; -webkit-appearance: none; outline: none; }

td, form { margin: 0px; padding: 0px; }

a { color: #000100; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; -ms-transition: all 0.2s linear; transition: all 0.2s linear; text-decoration: none; outline: none; -webkit-tap-highlight-color: transparent; -webkit-tap-highlight-color: transparent; }

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.clearfix:after, .wrapper:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

/* ========================== SLICK SLIDER ======================== */
.slick-slider { position: relative; display: block; box-sizing: border-box; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-touch-callout: none; -khtml-user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; display: block; overflow: hidden; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-track, .slick-slider .slick-list { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; top: 0; left: 0; display: block; }
.slick-track:before { display: table; content: ""; }
.slick-track:after { display: table; content: ""; clear: both; }

.slick-loading .slick-track { visibility: hidden; }

[dir='rtl'] .slick-slide { float: right; }

.slick-slide { display: none; float: left; height: 100%; min-height: 1px; }
.slick-slide img { display: block; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-slide:focus { outline: none; }

.slick-initialized .slick-slide { display: block; }

.slick-loading .slick-slide { visibility: hidden; }

.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

.slick-arrow.slick-hidden { display: none; }

.slick-arrow { position: absolute; top: 50%; z-index: 1; }

.slick-prev { left: 0; }

.slick-next { right: 0; }

.slick-disabled { opacity: 0.6; }

/* ========================== FORM STYLER ======================== */
.jq-checkbox { top: -1px; vertical-align: middle; width: 16px; height: 16px; margin: 0 4px 0 0; border: 1px solid #C3C3C3; border-radius: 3px; background: #F5F5F5; cursor: pointer; }
.jq-checkbox.checked .jq-checkbox__div { width: 12px; height: 12px; margin: 2px 0 0 2px; border-radius: 2px; background: #666; }
.jq-checkbox.focused { border: 1px solid #08C; }
.jq-checkbox.disabled { opacity: 0.55; }

.jq-radio { top: -1px; vertical-align: middle; width: 16px; height: 16px; margin: 0 4px 0 0; border: 1px solid #C3C3C3; border-radius: 50%; background: #F5F5F5; cursor: pointer; }
.jq-radio.checked .jq-radio__div { width: 10px; height: 10px; margin: 3px 0 0 3px; border-radius: 50%; background: #777; }
.jq-radio.focused { border: 1px solid #08C; }
.jq-radio.disabled { opacity: 0.55; }

.jq-file { width: 270px; border-radius: 4px; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }
.jq-file input { height: auto; line-height: 1em; cursor: pointer; }
.jq-file__name { overflow: hidden; box-sizing: border-box; width: 100%; height: 34px; padding: 0 80px 0 10px; border: 1px solid #CCC; border-bottom-color: #B3B3B3; border-radius: 4px; background: #FFF; font: 14px/32px Arial, sans-serif; color: #333; white-space: nowrap; text-overflow: ellipsis; }
.jq-file__browse { position: absolute; top: 1px; right: 1px; padding: 0 10px; border-left: 1px solid #CCC; border-radius: 0 4px 4px 0; background: #F5F5F5; font: 14px/32px Arial, sans-serif; color: #333; }
.jq-file:hover .jq-file__browse { background: #E6E6E6; }
.jq-file:active .jq-file__browse { background: #F5F5F5; }
.jq-file.focused .jq-file__name { border: 1px solid #5794BF; }
.jq-file.disabled { border-color: #CCC; background: #F5F5F5; color: #888; }
.jq-file.disabled .jq-file__name, .jq-file.disabled .jq-file__browse { border-color: #CCC; background: #F5F5F5; box-shadow: none; color: #888; }

.jq-number { position: relative; display: inline-block; vertical-align: middle; padding: 0 36px 0 0; }
.jq-number__field { width: 100px; border: 1px solid #CCC; border-bottom-color: #B3B3B3; border-radius: 4px; }
.jq-number__field:hover { border-color: #B3B3B3; }
.jq-number__field input { box-sizing: border-box; width: 100%; padding: 8px 9px; border: none; outline: none; background: none; font: 14px Arial, sans-serif; color: #333; text-align: left; -moz-appearance: textfield; }
.jq-number__field input::-webkit-inner-spin-button, .jq-number__field input::-webkit-outer-spin-button { margin: 0; -webkit-appearance: none; }
.jq-number__spin { position: absolute; top: 0; right: 0; width: 32px; height: 14px; border: 1px solid #CCC; border-bottom-color: #B3B3B3; border-radius: 4px; background: #F5F5F5; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; text-shadow: 1px 1px #FFF; cursor: pointer; }
.jq-number__spin.minus { top: auto; bottom: 0; }
.jq-number__spin:hover { background: #E6E6E6; }
.jq-number__spin:active { background: #F5F5F5; box-shadow: inset 1px 1px 3px #DDD; }
.jq-number__spin:after { content: ""; position: absolute; top: 4px; left: 11px; width: 0; height: 0; border-right: 5px solid transparent; border-bottom: 5px solid #999; border-left: 5px solid transparent; }
.jq-number__spin.minus:after { top: 5px; border-top: 5px solid #999; border-right: 5px solid transparent; border-bottom: none; border-left: 5px solid transparent; }
.jq-number__spin.minus:hover:after { border-top-color: #000; }
.jq-number__spin.plus:hover:after { border-bottom-color: #000; }
.jq-number__spin.focused .jq-number__field { border: 1px solid #5794BF; }
.jq-number__spin.disabled .jq-number__field { border-color: #CCC; background: #F5F5F5; box-shadow: none; color: #888; }
.jq-number__spin.disabled .jq-number__spin { border-color: #CCC; background: #F5F5F5; box-shadow: none; color: #888; }
.jq-number__spin.disabled .jq-number__spin:after { border-bottom-color: #AAA; }
.jq-number__spin.disabled .jq-number__spin.minus:after { border-top-color: #AAA; }

.jq-selectbox { vertical-align: middle; cursor: pointer; }
.jq-selectbox__select { height: 32px; padding: 0 45px 0 10px; border: 1px solid #CCC; border-bottom-color: #B3B3B3; border-radius: 4px; background: #F5F5F5; font: 14px/32px Arial, sans-serif; color: #333; text-shadow: 1px 1px #FFF; }
.jq-selectbox__select:hover { background: #E6E6E6; }
.jq-selectbox__select:active { background: #F5F5F5; }
.jq-selectbox.focused .jq-selectbox__select { border: 1px solid #5794BF; }
.jq-selectbox.disabled .jq-selectbox__select { border-color: #CCC; background: #F5F5F5; box-shadow: none; color: #888; }
.jq-selectbox__select-text { display: block; overflow: hidden; width: 100%; white-space: nowrap; text-overflow: ellipsis; }
.jq-selectbox .placeholder { color: #888; }
.jq-selectbox__trigger { position: absolute; top: 0; right: 0; width: 34px; height: 100%; border-left: 1px solid #CCC; }
.jq-selectbox__trigger-arrow { position: absolute; top: 14px; right: 12px; width: 0; height: 0; border-top: 5px solid #999; border-right: 5px solid transparent; border-left: 5px solid transparent; }
.jq-selectbox:hover .jq-selectbox__trigger-arrow { border-top-color: #000; }
.jq-selectbox.disabled .jq-selectbox__trigger-arrow { border-top-color: #AAA; }
.jq-selectbox__dropdown { box-sizing: border-box; width: 100%; margin: 2px 0 0; padding: 0; border: 1px solid #CCC; border-radius: 4px; background: #FFF; font: 14px/18px Arial, sans-serif; }
.jq-selectbox__search { margin: 5px; }
.jq-selectbox__search input { box-sizing: border-box; width: 100%; margin: 0; padding: 5px 27px 6px 8px; border: 1px solid #CCC; border-radius: 3px; outline: none; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAMCAYAAABiDJ37AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAO1JREFUeNqU078LAXEYx/FzYfNzk5TJaFNKYjFYSQZ/hvwBsvg1UCY2xT9gM8hukQGThWRjkcFw3pdnujhfT736Xn2fPvfc3fd07V0OFDDFAnM0ENYsZRiGLSc9OpqIYIA9fMhhjCrW2h9VlMlcH/aymMGtOqEugX08PwQucUZKdTozMIqdTc9WepQD7wjY9ARx+ydwhfyXfS+S0qMcOEQJGcueB3VccFINdMgal6NzkmPjRwJXxDBB7/2RDdtAp6wb+dpphHDASG5QQ0V6u2aoSqBZD/lDrNWRJynLK2qpBn4rc6K2XB9/Nb8EGABtf1thzY6X2AAAAABJRU5ErkJggg==) no-repeat 100% 50%; box-shadow: inset 1px 1px #F1F1F1; color: #333; -webkit-appearance: textfield; }
.jq-selectbox__search input::-webkit-search-cancel-button, .jq-selectbox__search input::-webkit-search-decoration { -webkit-appearance: none; }
.jq-selectbox__not-found { margin: 5px; padding: 5px 8px 6px; background: #F0F0F0; font-size: 13px; }
.jq-selectbox ul { margin: 0; padding: 0; }
.jq-selectbox li { min-height: 18px; padding: 5px 10px 6px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; white-space: nowrap; color: #231F20; }
.jq-selectbox li.selected { background-color: #A3ABB1; color: #FFF; }
.jq-selectbox li:hover { background-color: #08C; color: #FFF; }
.jq-selectbox li.disabled { color: #AAA; }
.jq-selectbox li.optgroup { font-weight: bold; }
.jq-selectbox li.optgroup:hover { background: none; color: #231F20; cursor: default; }
.jq-selectbox li.option { padding-left: 25px; }

.jq-select-multiple { box-sizing: border-box; padding: 1px; border: 1px solid #CCC; border-bottom-color: #B3B3B3; border-radius: 4px; background: #FFF; box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1); font: 14px/18px Arial, sans-serif; color: #333; cursor: default; }
.jq-select-multiple.focused { border: 1px solid #5794BF; }
.jq-select-multiple.disabled { border-color: #CCC; background: #F5F5F5; box-shadow: none; color: #888; }
.jq-select-multiple ul { margin: 0; padding: 0; }
.jq-select-multiple li { padding: 3px 9px 4px; list-style: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; white-space: nowrap; }
.jq-select-multiple:first-child { border-radius: 3px 3px 0 0; }
.jq-select-multiple:last-child { border-radius: 0 0 3px 3px; }
.jq-select-multiple.selected { background: #08C; color: #FFF; }
.jq-select-multiple.disabled { color: #AAA; }
.jq-select-multiple.disabled li.selected { background: #CCC; color: #FFF; }
.jq-select-multiple li.selected.disabled { background: #CCC; color: #FFF; }
.jq-select-multiple li.optgroup { font-weight: bold; }
.jq-select-multiple li.option { padding-left: 25px; }

input[type='email'].styler, input[type='password'].styler, input[type='search'].styler, input[type='tel'].styler, input[type='text'].styler, input[type='url'].styler { padding: 8px 9px; border: 1px solid #CCC; border-bottom-color: #B3B3B3; border-radius: 4px; box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1); font: 14px Arial, sans-serif; color: #333; }

textarea.styler { padding: 8px 9px; border: 1px solid #CCC; border-bottom-color: #B3B3B3; border-radius: 4px; box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1); font: 14px Arial, sans-serif; color: #333; }

input[type='search'].styler { -webkit-appearance: none; }

textarea.styler { overflow: auto; }

input[type='email'].styler:hover, input[type='password'].styler:hover, input[type='search'].styler:hover, input[type='tel'].styler:hover, input[type='text'].styler:hover, input[type='url'].styler:hover { border-color: #B3B3B3; }

textarea.styler:hover { border-color: #B3B3B3; }

input[type='email'].styler:focus, input[type='password'].styler:focus, input[type='search'].styler:focus, input[type='tel'].styler:focus, input[type='text'].styler:focus, input[type='url'].styler:focus { border-color: #CCC; border-top-color: #B3B3B3; outline: none; box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); }

textarea.styler:focus { border-color: #CCC; border-top-color: #B3B3B3; outline: none; box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); }

button.styler { overflow: visible; padding: 8px 11px; border: 1px solid #CCC; border-bottom-color: #B3B3B3; border-radius: 4px; outline: none; background: #F5F5F5; background: -webkit-linear-gradient(#FFF, #E6E6E6); background: linear-gradient(#ffffff, #e6e6e6); box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1); font: 14px Arial, sans-serif; color: #333; text-shadow: 1px 1px #FFF; cursor: pointer; }

input[type='button'].styler, input[type='submit'].styler, input[type='reset'].styler { overflow: visible; padding: 8px 11px; border: 1px solid #CCC; border-bottom-color: #B3B3B3; border-radius: 4px; outline: none; background: #F5F5F5; background: -webkit-linear-gradient(#FFF, #E6E6E6); background: linear-gradient(#ffffff, #e6e6e6); box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1); font: 14px Arial, sans-serif; color: #333; text-shadow: 1px 1px #FFF; cursor: pointer; }

button.styler::-moz-focus-inner { padding: 0; border: 0; }

input[type='button'].styler::-moz-focus-inner, input[type='submit'].styler::-moz-focus-inner, input[type='reset'].styler::-moz-focus-inner { padding: 0; border: 0; }

button.styler:not([disabled]):hover { background: #E6E6E6; background: -webkit-linear-gradient(#F6F6F6, #E6E6E6); background: linear-gradient(#f6f6f6, #e6e6e6); }

input[type='button'].styler:not([disabled]):hover, input[type='submit'].styler:not([disabled]):hover, input[type='reset'].styler:hover { background: #E6E6E6; background: -webkit-linear-gradient(#F6F6F6, #E6E6E6); background: linear-gradient(#f6f6f6, #e6e6e6); }

button.styler:not([disabled]):active { background: #F5F5F5; box-shadow: inset 1px 1px 3px #DDD; }

input[type='button'].styler:not([disabled]):active, input[type='submit'].styler:not([disabled]):active, input[type='reset'].styler:active { background: #F5F5F5; box-shadow: inset 1px 1px 3px #DDD; }

button.styler[disabled] { border-color: #CCC; background: #F5F5F5; box-shadow: none; color: #888; }

input[type='button'].styler[disabled], input[type='submit'].styler[disabled] { border-color: #CCC; background: #F5F5F5; box-shadow: none; color: #888; }

/* 3. MAIN STYLES */
/* ================================================ */
.main-wrapper { padding: 0 0 0 0; min-width: 320px; position: relative; overflow: hidden; min-height: 100%; }

.wrapper { min-width: 320px; max-width: 1280px; padding: 0 40px 0 40px; margin: 0 auto; position: relative; }

/* titles */
h1 { font-size: 48px; font-weight: 900; line-height: 55px; padding: 35px 0 25px 0; letter-spacing: 0.7px; }

h2 { font-size: 48px; font-weight: 900; line-height: 55px; padding: 35px 0 25px 0; letter-spacing: 0.85px; }

h3 { padding: 15px 0 15px 0; font-size: 36px; font-weight: 500; line-height: 38px; letter-spacing: 0.8px; }

h4 { font-size: 24px; font-weight: 700; line-height: 34px; padding: 15px 0 15px 0; }

h5 { font-size: 18px; font-weight: 500; line-height: 29px; padding: 0 0 2px 0; }

p { font-size: 16px; line-height: 24px; padding: 0 0 10px 0; font-weight: 300; }

strong { font-weight: 500; }

.normal { font-weight: 300; }

/* text position */
.text-left { text-align: left !important; }

.text-center { text-align: center !important; }

.text-right { text-align: right !important; }

.text-info { color: #45c8dc !important; }

.text-danger { color: #f74608 !important; }

.text-success { color: #29b88b !important; }

.nowrap { white-space: nowrap !important; }

.marker-list { list-style: none; }
.marker-list__item { position: relative; font-size: 14px; line-height: 16px; font-weight: 300; padding-left: 41px; margin-bottom: 16px; letter-spacing: 0.3px; }
.marker-list__item:before { content: ""; display: block; position: absolute; left: -1px; top: -3px; width: 20px; height: 20px; -moz-opacity: 0.2; -khtml-opacity: 0.2; opacity: 0.2; filter: alpha(opactiy=20); background-color: #45c7dc; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; }
.marker-list__item:after { content: ""; position: absolute; left: 5px; top: 3px; width: 8px; height: 8px; background-color: #45c7dc; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; }

/* loader */
.loaded .main-wrapper { visibility: hidden; }

.icon-load { background: url(../img/loader.gif?ver1.0) no-repeat left top; width: 40px; height: 40px; position: fixed; left: 50%; top: 50%; margin-left: -20px; margin-left: -20px; display: none; }

.loaded .icon-load { display: block; }

.tooltip { position: absolute; z-index: 1070; display: block; font-family: "Roboto", Helvetica, Arial, sans-serif; font-style: normal; font-weight: normal; letter-spacing: normal; line-break: auto; line-height: 1.42857; text-align: left; text-decoration: none; text-shadow: none; text-transform: none; white-space: normal; word-break: normal; word-spacing: normal; word-wrap: normal; font-size: 12px; opacity: 0; filter: alpha(opacity=0); }

.tooltip.in { opacity: 0.9; filter: alpha(opacity=90); }

.tooltip.top { margin-top: -3px; padding: 5px 0; }

.tooltip.right { margin-left: 3px; padding: 0 5px; }

.tooltip.bottom { margin-top: 3px; padding: 5px 0; width: 156px; margin-left: 55px; }

.tooltip.left { margin-left: -3px; padding: 0 5px; }

.tooltip-inner { max-width: 200px; padding: 17px 15px; color: #ebedf0; font-size: 11px; font-weight: 400; line-height: 14px; text-align: left; background-color: #000000; border-radius: 4px; letter-spacing: 0.8px; }

.tooltip-arrow { position: absolute; width: 0; height: 0; border-color: transparent; border-style: solid; }

.tooltip.top .tooltip-arrow { bottom: 0; left: 50%; margin-left: -5px; border-width: 5px 5px 0; border-top-color: #000000; }

.tooltip.right .tooltip-arrow { top: 50%; left: 0; margin-top: -5px; border-width: 5px 5px 5px 0; border-right-color: #000000; }

.tooltip.left .tooltip-arrow { top: 50%; right: 0; margin-top: -5px; border-width: 5px 0 5px 5px; border-left-color: #000000; }

.tooltip.bottom .tooltip-arrow { top: 0; left: 16px !important; border-width: 0 5px 5px; border-bottom-color: #000000; }

.nicescroll-rails { background: #CCF5F9; height: 5px !important; margin-top: -6px; }

/* 3.1. Icons ====================== */
.ic { position: relative; display: inline-block; vertical-align: middle; }

.ic--peshe { background: url('../img/icons-s2efe05196d.png') 0 -41px no-repeat; width: 34px; height: 60px; }

.ic--arrow-left { background: url('../img/icons-s2efe05196d.png') 0 0 no-repeat; width: 19px; height: 31px; }

/* 3.2. Buttons ====================== */
.btn, a.btn { position: relative; display: inline-block; vertical-align: middle; height: 49px; padding: 16px 28px 0; font: 400 14px/18px "Roboto", Arial, sans-serif; color: #444; text-align: center; text-decoration: none; border: none; background-color: #eee; cursor: pointer; -webkit-border-radius: 24px; -moz-border-radius: 24px; border-radius: 24px; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }
.btn:hover, a.btn:hover { background-color: #fff; text-decoration: none; color: #000; }
.btn_info, a.btn_info { color: #fff; background-color: #45c8dc; -webkit-box-shadow: 0 2px 18px #45c8dc; -moz-box-shadow: 0 2px 18px #45c8dc; box-shadow: 0 2px 18px #45c8dc; background-image: radial-gradient(circle 37px at center, #42d2e8 0%, #45c8dc 100%); background-image: -webkit-radial-gradient(circle 37px at center, #42d2e8 0%, #45c8dc 100%); }
.btn_info:hover, a.btn_info:hover { box-shadow: none; }
.btn_default, a.btn_default { height: 53px; padding: 17px 40px 0; letter-spacing: 1px; border: 1px solid #45c7dc; background-color: transparent; -webkit-border-radius: 26px; -moz-border-radius: 26px; border-radius: 26px; }
.btn_default:hover, a.btn_default:hover { color: #fff; background: #45c7dc; }
.btn_lg, a.btn_lg { height: 56px; font-size: 16px; letter-spacing: 0.33px; -webkit-border-radius: 28px; -moz-border-radius: 28px; border-radius: 28px; }
.btn_rates, a.btn_rates { height: 56px; padding: 0 38px; font-size: 16px; font-weight: 400; -webkit-border-radius: 28px; -moz-border-radius: 28px; border-radius: 28px; }

input.btn, button.btn { padding-top: 0 !important; padding-bottom: 1px; }

.btn-group .btn + .btn { margin-left: 15px; }
.btn-group_vertical .btn + .btn { margin-top: 15px; }

/* 3.3. forms ====================== */
input[type='text'], input[type='number'], input[type='email'], input[type='tel'], input[type='search'], input[type='url'], input[type='password'], textarea { height: 38px; padding: 0 10px; color: #444; font: 700 16px/20px "Roboto", Arial, sans-serif; border: 1px solid #d6d6d6; background: transparent; }
input[type='text'].form-control, input[type='number'].form-control, input[type='email'].form-control, input[type='tel'].form-control, input[type='search'].form-control, input[type='url'].form-control, input[type='password'].form-control, textarea.form-control { display: block; width: 100%; }
input[type='text']:-ms-input-placeholder, input[type='number']:-ms-input-placeholder, input[type='email']:-ms-input-placeholder, input[type='tel']:-ms-input-placeholder, input[type='search']:-ms-input-placeholder, input[type='url']:-ms-input-placeholder, input[type='password']:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #aaa; }
input[type='text']:-moz-placeholder, input[type='number']:-moz-placeholder, input[type='email']:-moz-placeholder, input[type='tel']:-moz-placeholder, input[type='search']:-moz-placeholder, input[type='url']:-moz-placeholder, input[type='password']:-moz-placeholder, textarea:-moz-placeholder { color: #aaa; }
input[type='text']::-moz-placeholder, input[type='number']::-moz-placeholder, input[type='email']::-moz-placeholder, input[type='tel']::-moz-placeholder, input[type='search']::-moz-placeholder, input[type='url']::-moz-placeholder, input[type='password']::-moz-placeholder, textarea::-moz-placeholder { color: #aaa; }
input[type='text']::-webkit-input-placeholder, input[type='number']::-webkit-input-placeholder, input[type='email']::-webkit-input-placeholder, input[type='tel']::-webkit-input-placeholder, input[type='search']::-webkit-input-placeholder, input[type='url']::-webkit-input-placeholder, input[type='password']::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #aaa; }
input[type='text']::placeholder, input[type='number']::placeholder, input[type='email']::placeholder, input[type='tel']::placeholder, input[type='search']::placeholder, input[type='url']::placeholder, input[type='password']::placeholder, textarea::placeholder { color: #aaa; }
input[type='text']:-moz-placeholder, input[type='text']::-moz-placeholder, input[type='number']:-moz-placeholder, input[type='number']::-moz-placeholder, input[type='email']:-moz-placeholder, input[type='email']::-moz-placeholder, input[type='tel']:-moz-placeholder, input[type='tel']::-moz-placeholder, input[type='search']:-moz-placeholder, input[type='search']::-moz-placeholder, input[type='url']:-moz-placeholder, input[type='url']::-moz-placeholder, input[type='password']:-moz-placeholder, input[type='password']::-moz-placeholder, textarea:-moz-placeholder, textarea::-moz-placeholder { color: #aaa; opacity: 1; }
input[type='text']::-webkit-input-placeholder, input[type='number']::-webkit-input-placeholder, input[type='email']::-webkit-input-placeholder, input[type='tel']::-webkit-input-placeholder, input[type='search']::-webkit-input-placeholder, input[type='url']::-webkit-input-placeholder, input[type='password']::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #aaa; }

textarea { height: auto; min-height: 100px; padding-top: 10px; resize: none; }

label { display: block; font-size: 16px; font-weight: 300; line-height: 20px; letter-spacing: 0; }

.box-group .box-field { display: inline-block; vertical-align: top; margin-right: -4px; }

/* 4. HEADER */
/* ================================================ */
header { min-width: 320px; height: 108px; text-align: left; position: fixed; left: 305px; right: 0; top: 0px; z-index: 99; background: #fff; }

.header-wrapper { padding: 30px 19px 0 83px; *zoom: 1; }
.header-wrapper:after { content: " "; display: table; clear: both; }

.header__text { padding-top: 10px; padding-bottom: 0; color: #2a2e37; font-size: 18px; font-weight: 500; float: left; }

.phone { padding-bottom: 0; padding-top: 4px; float: right; color: #262a33; font-size: 12px; line-height: 14px; font-weight: 300; letter-spacing: 0.3px; }
.phone__number { display: block; color: #45c8dc; font-size: 24px; line-height: 24px; font-weight: 500; letter-spacing: 0.4px; }

.user { float: right; }
.user-avatar, .user-nav, .user-cont { display: inline-block; vertical-align: middle; margin-right: -4px; }
.user-avatar { margin-left: 15px; }
.user-nav { padding-left: 87px; list-style-type: none; }
.user-nav__item { display: inline-block; vertical-align: middle; }
.user-nav__item:first-child:after { content: ""; display: inline-block; vertical-align: middle; height: 13px; border-right: 1px solid #b0b0b0; }
.user-nav__link { font-size: 14px; font-weight: 400; line-height: 16px; color: #464646; }
.user-nav__link:hover { text-decoration: underline; }
.user-cont { text-align: right; padding-left: 37px; }
.user-cont__text { padding: 0; font-size: 14px; line-height: 16px; color: #464646; font-weight: 300; letter-spacing: 0.3px; }
.user-cont__name { color: #262a33; font-weight: 400; }
.user-cont__link { color: #45c7db; font-size: 14px; font-weight: 300; text-decoration: underline; letter-spacing: 0.6px; }
.user-cont__link:hover { text-decoration: none; }

/* 5. SIDEBAR */
/* ================================================ */
.sidebar { position: fixed; top: 0; left: 0; bottom: 0; z-index: 3; overflow-y: auto; width: 305px; background-color: #262a33; }

.logo { margin-bottom: 61px; padding: 26px 20px 26px 43px; }
.logo img { max-width: 100%; }

.main-nav-list { list-style-type: none; }
.main-nav-list__item { margin-bottom: 9px; }
.main-nav-list__item.active .main-nav-list__link:after { content: ""; position: absolute; top: 50%; right: 0; margin-top: -9px; display: block; width: 0px; height: 0px; border-style: solid; border-width: 8px 5px 8px 0; border-color: transparent #ccf8ff transparent transparent; }
.main-nav-list__link { text-align: center; font-size: 0; position: relative; display: block; height: 82px; padding: 0 20px 0 111px; color: rgba(255, 255, 255, 0.7); letter-spacing: 0.3px; text-align: left; border-left: 3px solid transparent; }
.main-nav-list__link:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.main-nav-list__text { display: inline-block; vertical-align: middle; line-height: 18px; font-size: 16px; }
.main-nav-list__item.active .main-nav-list__link, .main-nav-list__link:hover { border-left-color: #45c8dc; background-color: #1d2027; color: #fff; }
.main-nav-list__item.active .main-nav-list__link .main-nav-list__icon, .main-nav-list__link:hover .main-nav-list__icon { opacity: 1; }
.main-nav-list__icon { position: absolute; top: 50%; margin-top: -11px; left: 63px; width: 22px; font-size: 22px; -moz-opacity: 0.5; -khtml-opacity: 0.5; opacity: 0.5; filter: alpha(opactiy=50); color: #45c8dc; }

/* 6. CONTENT */
/* ================================================ */
.content { width: 100%; min-width: 320px; text-align: left; padding-right: 70px; padding-left: 389px; padding-bottom: 70px; }

.g-lot .content { background: url("../img/lot-bg.png") no-repeat top right; }

.g-du .content { background: url("../img/du-bg.png") no-repeat 995px 62px; }

.g-login { background: url("../img/login-bg.png") no-repeat right top; }

.box-bread-crumbs { margin: 9px 0 23px; }

.bread-crambs { list-style: none; }
.bread-crambs__item { display: inline-block; vertical-align: top; font-size: 13px; line-height: 18px; letter-spacing: 0.8px; margin-right: 6px; }
.bread-crambs__text { display: inline-block; vertical-align: middle; font-weight: 300; }
.bread-crambs__link { display: inline-block; vertical-align: middle; margin-right: -1px; color: #4b5161; font-size: inherit; line-height: inherit; }
.bread-crambs__link:hover { text-decoration: underline; }
.bread-crambs__icon { display: inline-block; vertical-align: middle; margin-right: -3px; margin-left: 3px; }

.video-wrap { display: table; width: 100%; margin-bottom: 50px; }
.video-info, .video-cont { display: table-cell; vertical-align: top; height: 624px; }
.video-info { width: 334px; padding: 27px 37px 41px 37px; background: #fff; }
.video-info__header { margin-bottom: 6px; padding-left: 3px; }
.video-info__icon { position: relative; z-index: 2; top: -4px; display: inline-block; vertical-align: middle; margin-right: -4px; width: 69px; height: 69px; background-color: #45c8dc; text-align: center; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; text-align: center; font-size: 0; }
.video-info__icon:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.video-info__icon span { display: inline-block; vertical-align: middle; font-size: 31px; color: #fff; line-height: 31px; }
.video-info__title { display: inline-block; vertical-align: middle; margin-right: -4px; margin-left: -70px; padding-left: 90px; width: 100%; font-size: 24px; font-weight: 700; line-height: 36px; letter-spacing: 0.3px; }
.video-info__text { font-size: 18px; font-weight: 300; line-height: 27px; letter-spacing: 0; }
.video-cont { position: relative; }
.video-cont:after { content: ""; display: block; position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 1; background: url("../img/video-bg.png") no-repeat center; background-repeat: no-repeat; -webkit-background-size: cover; -moz-background-size: cover; background-size: cover; background-position: 50% 50%; }
.video-cont video, .video-cont iframe { display: block; width: 100%; height: 100%; min-width: 100%; min-height: 100%; }
.video__play { position: absolute; top: 50%; left: 50%; z-index: 2; margin: -29px 0 0 -30px; color: #45c8dc; font-size: 69px; line-height: 23px; border: none; background-color: transparent; padding: 0; }

.about { position: relative; z-index: 2; }
.about-bl { display: table; width: 100%; margin-bottom: 36px; }
.about__img, .about__cont { display: table-cell; vertical-align: middle; }
.about__img img { display: block; width: 100%; max-height: 100%; }
.about__cont { width: 41.1%; padding: 30px 2% 30px 8.86%; background: #fff; }
.about__text { position: relative; top: -4px; padding: 0; font-size: 18px; font-weight: 300; line-height: 24px; }
.about__text:before { content: "/"; display: block; position: absolute; left: -30px; top: 0; color: #45c8dc; font-size: 44px; font-weight: 300; line-height: 44px; }
.about-list { margin-top: 10px; margin-bottom: 38px; list-style: none; *zoom: 1; }
.about-list:after { content: " "; display: table; clear: both; }
.about-list__item { position: relative; float: left; *zoom: 1; }
.about-list__item:after { content: " "; display: table; clear: both; }
.about-list__item.col2 { width: 50%; }
.about-list__item.col2 .about-list__cont:before { content: ""; position: absolute; top: 50%; right: 100%; margin-top: -10px; display: block; width: 0px; height: 0px; border-style: solid; border-width: 9.5px 8px 9.5px 0; border-color: transparent #fff transparent transparent; }
.about-list__item.about-list__item_double .about-list__cont:after { content: ""; position: absolute; left: 50%; bottom: 100%; z-index: 2; margin-left: -10px; display: block; width: 0px; height: 0px; border-style: solid; border-width: 0 9.5px 8px 9.5px; border-color: transparent transparent #fff transparent; }
.about-list__item.col3 { width: 75%; }
.about-list__item.col3 .about-list__cont { width: 33.33%; }
.about-list__item.col3 .about-list__cont:before { content: ""; position: absolute; top: 50%; left: 100%; z-index: 1; margin-top: -10px; display: block; width: 0px; height: 0px; border-style: solid; border-width: 9.5px 0 9.5px 8px; border-color: transparent transparent transparent #fff; }
.about-list__item.col3 .about-list__icon { background-color: #4b5161; width: 66.66%; }
.about-list__img, .about-list__icon { position: relative; float: left; width: 50%; height: 362px; }
.about-list__img img, .about-list__icon img { max-width: 100%; height: 100%; }
.about-list .img-text__cont { position: absolute; bottom: 64px; left: 0; right: 0; color: #fff; text-align: center; padding: 0 20px; }
.about-list .img-text__cont p { font-size: 18px; font-weight: 400; line-height: 24px; margin-bottom: 40px; }
.about-list__img_double { position: absolute; bottom: 100%; right: 0; }
.about-list__icon { text-align: center; font-size: 0; text-align: center; background-color: #262a33; }
.about-list__icon:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.about-list__icon-cont { display: inline-block; vertical-align: middle; }
.about-list__icon [class*="icon-"] { display: inline-block; color: #fff !important; margin-bottom: 16px; }
.about-list__icon p { color: white; font-size: 18px; line-height: 26px; position: relative; top: 7px; }
.about-list__icon p span { display: block; color: #45c7dc; font-size: 36px; line-height: 36px; }
.about-list__icon .img-text p { font-weight: 300; font-size: 16px; }
.about-list__col { display: inline-block; vertical-align: middle; width: 272px; height: 272px; margin-right: -13px; margin-left: -20px; text-align: center; font-size: 0; border: 1px solid #45c7dc; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; }
.about-list__col:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.about-list__col:nth-child(2) { border-style: dashed; }
.about-list__col-cont { display: inline-block; vertical-align: middle; }
.about-list__cont { position: relative; float: left; width: 50%; height: 362px; background: #fff; padding: 62px 60px; }
.about-list__cont p { margin-top: 15px; padding-bottom: 0; line-height: 24px; font-weight: 300; letter-spacing: 0.3px; }
.about-list__cont p strong { font-weight: 500; }
.about-list__cont ul { margin-top: 23px; list-style: none; line-height: 24px; font-weight: 300; }
.about-list__cont ul li:before { content: "-"; display: inline-block; vertical-align: middle; color: #45c8dc; margin-right: 3px; font-weight: 900; }
.about-list .icon-commun { font-size: 45px; line-height: 45px; }
.about-list .icon-statistic { font-size: 34px; line-height: 34px; }
.about-list .icon-peoples { font-size: 28px; line-height: 28px; }
.about-list .icon-date { font-size: 21px; line-height: 21px; margin-bottom: 6px; }
.about-list .icon-lots { font-size: 25px; line-height: 25px; margin-bottom: 6px; }

.counter { display: inline-block; font-size: 30px; font-weight: 400; line-height: 32px; color: #45c8dc; }
.counter span { color: #4b5161; }

.bargaining { position: relative; }
.bargaining:after { content: ""; position: absolute; right: -70px; top: -100%; display: block; background: url("../img/bg-img.png?ver1.0") no-repeat 0 0; width: 900px; height: 1307px; }
.bargaining > * { position: relative; z-index: 2; }
.bargaining__text { font-size: 18px; font-weight: 300; line-height: 24px; margin-top: 18px; letter-spacing: 0.35px; }
.bargaining-list { margin-top: 27px; margin-bottom: 20px; list-style: none; }
.bargaining-list__item { position: relative; display: inline-block; vertical-align: top; margin-right: -4px; width: 33.33%; padding-left: 65px; }
.bargaining-list__item:before { content: ""; position: absolute; top: 44px; left: 2px; right: 0px; display: block; border-top: 1px dashed #45c7dc; }
.bargaining-list__item:last-child:after { content: ""; display: block; height: 30px; width: 24px; position: absolute; top: 29px; right: 10px; background: url("../img/arrow-right.png") no-repeat center; }
.bargaining-list__item:last-child:before { right: 10px; }
.bargaining-list__item .counter { font-size: 24px; }
.bargaining-list__item .counter:before { content: ""; display: block; position: absolute; top: 17px; left: 0; z-index: 1; width: 49px; height: 49px; background: #fff; -webkit-box-shadow: 0 0 24px rgba(69, 200, 220, 0.52); -moz-box-shadow: 0 0 24px rgba(69, 200, 220, 0.52); box-shadow: 0 0 24px rgba(69, 200, 220, 0.52); -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; }
.bargaining-list__item .counter:after { content: ""; position: absolute; top: 32px; left: 15px; z-index: 1; display: block; width: 19px; height: 19px; background-color: #4fcee1; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; }
.bargaining-list__text { margin-top: 25px; font-size: 16px; line-height: 24px; padding-right: 30px; letter-spacing: 0.35px; }

.examples { position: relative; z-index: 2; }
.examples-list { list-style: none; margin-top: 21px; }
.examples-list__item { display: table; width: 100%; margin-bottom: 47px; }
.examples-list__cont, .examples-list__img { display: table-cell; vertical-align: top; }
.examples-list__cont { width: 48.4%; padding: 54px 62px 50px 62px; background: #fff; }
.examples-list__img img { width: 100%; height: auto; }
.examples-list__title { padding: 0; letter-spacing: 0.45px; }
.examples-list__info { display: block; font-size: 18px; font-weight: 400; line-height: 26px; }
.examples-list__text { font-size: 16px; font-weight: 300; line-height: 24px; margin-top: 17px; height: 106px; overflow: hidden; letter-spacing: 0.33px; }
.examples-list .marker-list { margin-top: 36px; margin-bottom: 24px; }
.examples-list .marker-list__item { width: 42%; display: inline-block; vertical-align: top; margin-right: -4px; }
.examples-list .marker-list__item:nth-child(odd) { width: 58.6%; }
.examples-list__total { font-size: 14px; line-height: 20px; color: #4b5161; letter-spacing: 0.25px; }

.tab-examples .examples-list__cont { width: 62.3%; padding: 65px 65px 13px 65px; }
.tab-examples .examples-list__text { height: auto; padding-bottom: 12px; }
.tab-examples .marker-list { margin-top: 36px; margin-bottom: 24px; }
.tab-examples .marker-list__item { width: 49%; display: inline-block; vertical-align: top; margin-right: -4px; }

.mission { position: relative; z-index: 2; margin: 79px -70px 42px -84px; padding: 36px 70px 56px 84px; min-width: 320px; background: url("../img/mission-bg.png") no-repeat center; background-repeat: no-repeat; -webkit-background-size: cover; -moz-background-size: cover; background-size: cover; background-position: 50% 50%; }
.mission h2 { margin-bottom: 18px; }
.mission__col { display: inline-block; vertical-align: top; margin-right: -4px; width: 37.7%; }
.mission__col:first-child { width: 52%; margin-right: 10.2%; }
.mission__text { font-size: 22px; line-height: 28px; color: #fff; padding-bottom: 16px; }
.mission__quote { position: relative; color: #fff; font-size: 36px; line-height: 38px; letter-spacing: 0.7px; margin-bottom: 48px; }
.mission__quote:before { content: "/"; position: absolute; top: 4px; left: -40px; display: block; color: #3fabbf; font-size: 44px; line-height: 44px; }

.base { position: relative; }
.base:before { content: ""; position: absolute; left: -155px; top: -120%; display: block; background: url("../img/base-bg.png?ver1.0") no-repeat 0 0; width: 656px; height: 1306px; }
.base > * { position: relative; z-index: 2; }
.base-list { list-style: none; margin: 21px -15px 42px; *zoom: 1; }
.base-list:after { content: " "; display: table; clear: both; }
.base-list__item { float: left; width: 50%; padding: 0 15px; }
.base-list__item:first-child { padding-right: 5px; }
.base-list__item:last-child { padding-left: 25px; }
.base-wrap { position: relative; padding: 65px 50px 40px 66px; height: 216px; background-color: white; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }
.base-wrap__icon { display: inline-block; vertical-align: middle; margin-right: -4px; width: 87px; height: 87px; background-color: white; background-image: linear-gradient(to top, rgba(221, 250, 255, 0.53) 0%, rgba(255, 255, 255, 0.53) 100%); background-image: -webkit-linear-gradient(to top, rgba(221, 250, 255, 0.53) 0%, rgba(255, 255, 255, 0.53) 100%); -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; -webkit-box-shadow: 0 0 40px 2px rgba(69, 200, 220, 0.4); -moz-box-shadow: 0 0 40px 2px rgba(69, 200, 220, 0.4); box-shadow: 0 0 40px 2px rgba(69, 200, 220, 0.4); }
.base-wrap__cont { display: inline-block; vertical-align: middle; margin-right: -4px; margin-left: 57px; width: 47%; }
.base-wrap__cont p { line-height: 24px; letter-spacing: 0.3px; }
.base-wrap__button.btn { position: absolute; top: 50%; right: 50px; display: block; margin-top: -21px; }
.base-wrap__title { padding-top: 0; padding-bottom: 5px; font-weight: 300; }

.contacts { position: relative; z-index: 2; }
.contacts-info { width: 447px; float: left; padding: 35px 41px 19px; background-color: #262a33; -webkit-border-radius: 5px 0 0 5px; -moz-border-radius: 5px 0 0 5px; border-radius: 5px 0 0 5px; }
.contacts-info__title { padding-top: 0; padding-bottom: 3px; color: #fff; }
.contacts-info__bl { padding-top: 7px; }
.contacts-map { margin-left: 447px; }
.contacts address { display: block; color: #b8b8b8; font-style: normal; font-size: 18px; font-weight: 300; line-height: 30px; margin-bottom: 23px; }
.contacts address.ad2 { padding-top: 2px; }
.contacts address.ad3 { padding-top: 8px; }
.contacts address p { padding-bottom: 0; font-size: inherit; line-height: inherit; }
.contacts address p.sm { font-size: 16px; line-height: 24px; letter-spacing: 0.33px; }
.contacts address a { color: #45c7dc; font-weight: 500; }
.contacts address a:hover { text-decoration: underline; }
.contacts address a[href*="mailto"] { text-decoration: underline; }
.contacts address a[href*="mailto"]:hover { text-decoration: none; }

.box-contacts { margin-top: 20px; *zoom: 1; }
.box-contacts:after { content: " "; display: table; clear: both; }

.box-lot-table { overflow-x: auto; }

.lot { background-color: white; padding: 21px 20px 14px 33px; margin-bottom: 32px; *zoom: 1; }
.lot:after { content: " "; display: table; clear: both; }
.lot h1 { padding-top: 0; letter-spacing: 1px; }
.lot-slider { float: right; width: 62.3%; min-height: 1px; }
.lot-slider img { display: block; width: 100%; }
.lot-info { margin-right: 68%; }
.lot-table { width: 100%; margin-bottom: 24px; }
.lot-table td { padding: 10px 10px 10px 28px; font-size: 14px; font-weight: 300; line-height: 18px; letter-spacing: 0px; vertical-align: top; }
.lot-table td:first-child { width: 56.6%; }
.lot-table tr:nth-child(even) { background-color: #ecfcff; }

.currency-list { list-style: none; }
.currency-list__item { display: inline-block; vertical-align: top; width: 30.2%; margin-right: -4px; margin-top: 5px; margin-bottom: 7px; color: #262a33; font-size: 14px; font-weight: 300; line-height: 16px; letter-spacing: 0px; }

.slider-for { margin-bottom: 19px; max-height: 514px; overflow: hidden; }
.slider-for .slick-arrow { width: 35px; height: 35px; background-color: white; border: none; margin-top: -11px; padding: 5px 0; text-align: center; box-shadow: 0 0 16px rgba(29, 32, 39, 0.5); -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; color: #262a33; font-size: 26px; line-height: 13px; }
.slider-for .slick-arrow:hover { background: #ecfcff; }
.slider-for .slick-prev { left: 40px; padding-right: 2px; }
.slider-for .slick-next { right: 40px; padding-left: 2px; }

.slider-nav { margin: 0 -8px; }
.slider-nav__item { max-height: 152px; cursor: pointer; display: inline-block !important; vertical-align: bottom; float: none; font-size: 0; line-height: 0; margin: 0 8px; }
.slider-nav__item:hover { -moz-opacity: 0.8; -khtml-opacity: 0.8; opacity: 0.8; filter: alpha(opactiy=80); }

.calculator { padding: 31px 74px 15px 33px; background-color: white; }
.calculator__title, .calculator__form { display: inline-block; vertical-align: top; margin-right: -4px; }
.calculator__title { position: relative; z-index: 2; width: 310px; padding: 0 0 20px; }
.calculator__form { position: relative; margin-left: -310px; padding-left: 313px; width: 100%; }
.calculator__form .btn { position: absolute; top: -6px; right: -4px; width: 191px; height: 56px; font-size: 16px; font-weight: 400; letter-spacing: 0.6px; -webkit-border-radius: 28px; -moz-border-radius: 28px; border-radius: 28px; -webkit-box-shadow: 0 8px 35px #45c8dc; -moz-box-shadow: 0 8px 35px #45c8dc; box-shadow: 0 8px 35px #45c8dc; }
.calculator__form .btn:hover { box-shadow: none; }
.calculator input[type="text"] { width: 95px; height: 38px; border: 1px solid #d6d6d6; background-color: transparent; padding: 0 8px 0 14px; color: #4b5161; font-family: "Roboto"; font-size: 16px; font-weight: 700; line-height: 20px; }
.calculator .box-form { width: 67.1%; }
.calculator .box-field { text-align: right; display: inline-block; vertical-align: top; margin-right: -4px; width: 42%; white-space: nowrap; margin-bottom: 20px; }
.calculator .box-field.col1 { width: 58%; }
.calculator .box-field.col1 .box-field__label { width: 212px; }
.calculator .box-field.col1 input[type="text"] { width: 84px; }
.calculator .box-field__label { margin: 0; padding: 0; width: 180px; text-align: right; font-size: 16px; font-weight: 300; line-height: 20px; display: inline-block; vertical-align: middle; margin-right: -4px; letter-spacing: 0; }
.calculator .box-field__input { position: relative; top: 2px; display: inline-block; vertical-align: middle; margin-right: -4px; margin-left: 12px; }

.box-filter { padding: 14px 37px 33px 52px; background: #fff; }
.box-filter h4 { letter-spacing: 0; }
.box-filter .box-group .box-field { width: 327px; margin-bottom: 23px; }
.box-filter .box-group .box-field:nth-child(2) { width: 379px; }

.filter { margin-top: 21px; }
.filter__label { margin-bottom: 9px; }
.filter__input { width: 60px; }
.filter__input + .filter__text { margin: 0 12px; }
.filter__input_date { width: 93px; padding: 0 6px !important; }
.filter__text { display: inline-block; vertical-align: middle; margin-right: 5px; }

.lot-list h2 { padding-top: 0; padding-bottom: 29px; }

.list-check { list-style: none; }
.list-check__item { display: inline-block; vertical-align: top; margin-right: 17px; margin-bottom: 20px; }
.list-check__item:last-child { margin-right: 0; }
.list-check__label { height: 38px; padding: 0 25px; border: 1px solid #45c8dc; -webkit-border-radius: 18px; -moz-border-radius: 18px; border-radius: 18px; text-align: center; font-size: 0; white-space: nowrap; text-align: center; cursor: pointer; }
.list-check__label:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.list-check .label-text { display: inline-block; vertical-align: middle; font-size: 14px; font-weight: 400; line-height: 20px; }
.list-check .label-text [class*='icon'] { position: relative; top: -1px; display: inline-block; vertical-align: middle; margin-right: 6px; color: #45c8dc; font-size: 18px; }
.list-check input { display: none; }
.list-check input:checked + .list-check__label { background: #45c8dc; color: #fff; }
.list-check input:checked + .list-check__label [class*='icon'] { color: inherit; }
.list-check_filter { max-width: 1080px; text-align: left; }
.list-check_filter .list-check__label { height: 45px; padding: 0 31px; margin-bottom: 22px; -webkit-border-radius: 22px; -moz-border-radius: 22px; border-radius: 22px; }
.list-check_filter .label-text { font-size: 16px; font-weight: 300; line-height: 17px; letter-spacing: 0.4px; }
.list-check_filter input { display: none; }
.list-check_filter input:checked + .list-check__label .label-text:before { content: ""; display: inline-block; vertical-align: middle; font: normal normal normal 14px/1 "Material-Design-Iconic-Font"; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; color: #fdffff; font-size: 16px; line-height: 18px; position: relative; left: -8px; top: -1px; margin-right: 3px; }

.box-table-lots { position: relative; margin: 24px -37px 0 -52px; border-top: 1px solid #c9cacf; }
.box-table-lots:before { content: ""; position: absolute; top: 177px; left: 0; display: block; width: 100%; border-top: 1px solid #c9cacf; }

.table-lots { overflow-x: auto; padding: 32px 22px 14px 22px; }
.table-lots table { width: 1400px; }
.table-lots table th, .table-lots table td { vertical-align: top; text-align: left; font-size: 14px; font-weight: 300; line-height: 20px; padding: 10px 16px; letter-spacing: 0px; }
.table-lots table th.lots-name, .table-lots table td.lots-name { width: 151px; }
.table-lots table th.lots-price, .table-lots table td.lots-price { width: 106px; }
.table-lots table th.lots-price2, .table-lots table td.lots-price2 { width: 120px; }
.table-lots table th.lots-summa, .table-lots table td.lots-summa { width: 128px; }
.table-lots table th.lots-sales, .table-lots table td.lots-sales { width: 106px; }
.table-lots table th.lots-profit, .table-lots table td.lots-profit { width: 142px; }
.table-lots table th.lots-cmmisione, .table-lots table td.lots-cmmisione { width: 151px; }
.table-lots table th.lots-pulire, .table-lots table td.lots-pulire { width: 136px; }
.table-lots table th.lots-date-begin, .table-lots table td.lots-date-begin { width: 137px; }
.table-lots table th.lots-date-reliz, .table-lots table td.lots-date-reliz { width: 100px; }
.table-lots table th.text-center, .table-lots table td.text-center { vertical-align: middle; }
.table-lots table th a, .table-lots table td a { color: #45c8dc; font-size: 13px; font-weight: 500; line-height: 20px; letter-spacing: 0.6px; }
.table-lots table th a:hover, .table-lots table td a:hover { text-decoration: underline; }
.table-lots table th .link, .table-lots table td .link { letter-spacing: -0.8px; font-weight: 400; line-height: 14px; }
.table-lots table th .link:hover, .table-lots table td .link:hover { text-decoration: none; }
.table-lots table th .td-icon, .table-lots table td .td-icon { font-size: 20px; line-height: 20px; }
.table-lots table tr:nth-child(odd) td { background-color: #ecfcff; }
.table-lots table th { padding-bottom: 55px; }
.table-lots table td { padding-top: 14px; }
.table-lots__title { font-size: 14px; font-weight: 500; line-height: 20px; color: #4b5161; height: 84px; letter-spacing: 0; }
.table-lots__title span { font-weight: 300; }

.link { color: #45c8dc; font-size: 12px; font-weight: 400; line-height: 14px; display: inline-block; border-bottom: 1px dashed; }
.link:hover { border-bottom-color: transparent; text-decoration: none; }

.investments { position: relative; margin-top: 52px; }
.investments h1, .investments h2 { position: relative; z-index: 2; line-height: 60px; letter-spacing: 1px; }
.investments h2 { padding-top: 0; }
.investments-wrap { position: relative; margin: 93px 0 137px; max-width: 455px; }
.investments-wrap:after { content: ""; display: block; position: absolute; top: 77px; left: 147px; background: url("../img/shape.png?ver1.0") no-repeat 0 0; width: 732px; height: 8px; }
.investments__percent { position: relative; z-index: 2; display: inline-block; vertical-align: top; margin-right: -4px; width: 124px; font-size: 63px; line-height: 63px; color: #4b5161; font-weight: 700; }
.investments__percent span { font-weight: 300; }
.investments__cont { display: inline-block; vertical-align: top; margin-right: -4px; width: 100%; margin-left: -124px; padding-left: 144px; }
.investments__title { padding-top: 0; padding-bottom: 22px; letter-spacing: 0px; line-height: 36px; }
.investments__descr { letter-spacing: 0; }
.investments__icon { position: absolute; left: 1022px; top: 301px; text-align: center; }
.investments__icon .icon-profit { font-size: 41px; color: #a3acbb; }
.investments__icon h4 { padding-top: 11px; }
.investments-circle { position: relative; width: 515px; height: 517px; margin: 96px auto; background: #fff; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; }
.investments-circle > * { position: relative; z-index: 2; }
.investments-circle:after { content: ""; position: absolute; top: 0; left: 0; display: block; width: 918px; height: 921px; margin: -203px 0 0 -210px; background: transparent url("../img/investments-bg.png") no-repeat center; }
.investments-circle__title { position: absolute; top: 50%; left: 33px; right: 50px; margin-top: -41px; line-height: 35px; letter-spacing: 0.5px; text-align: center; }
.investments-list { list-style: none; }
.investments-list__item { position: absolute; max-width: 300px; width: 100%; }
.investments-list__item:nth-child(1) { top: -58px; left: -356px; }
.investments-list__item:nth-child(1) .icon-bl { top: 56px; left: 428px; }
.investments-list__item:nth-child(1) .icon-bl:after { top: -9px; right: 82px; background: url("../img/pointer.png?ver1.0") no-repeat 0 0; width: 167px; height: 34px; }
.investments-list__item:nth-child(2) { top: 176px; left: -421px; }
.investments-list__item:nth-child(2) .icon-bl { top: 43px; left: 371px; }
.investments-list__item:nth-child(2) .icon-bl:after { top: 42px; right: 100%; background: url("../img/pointer2.png?ver1.0") no-repeat 0 0; width: 131px; height: 7px; }
.investments-list__item:nth-child(3) { top: 408px; left: -355px; }
.investments-list__item:nth-child(3) .icon-bl { top: 24px; left: 428px; }
.investments-list__item:nth-child(3) .icon-bl:after { bottom: -9px; right: 82px; background: url("../img/pointer4.png?ver1.0") no-repeat 0 0; width: 168px; height: 34px; }
.investments-list__item:nth-child(4) { top: -58px; left: 608px; }
.investments-list__item:nth-child(4) .icon-bl { top: 56px; left: -250px; }
.investments-list__item:nth-child(4) .icon-bl:after { top: -11px; left: 78px; background: url("../img/pointer3.png?ver1.0") no-repeat 0 0; width: 156px; height: 29px; }
.investments-list__item:nth-child(5) { top: 167px; left: 712px; }
.investments-list__item:nth-child(5) .icon-bl { top: 51px; left: -244px; }
.investments-list__item:nth-child(5) .icon-bl:after { top: 42px; left: 100%; -ms-transform: rotate(180deg); -webkit-transform: rotate(180deg); transform: rotate(180deg); background: url("../img/pointer2.png?ver1.0") no-repeat 0 0; width: 131px; height: 7px; }
.investments-list__item:nth-child(6) { top: 408px; left: 608px; }
.investments-list__item:nth-child(6) .icon-bl { top: 24px; left: -249px; }
.investments-list__item:nth-child(6) .icon-bl:after { bottom: -9px; left: 80px; background: url("../img/pointer6.png?ver1.0") no-repeat 0 0; width: 153px; height: 28px; }
.investments-list h5 { padding-bottom: 8px; letter-spacing: -0.1px; }
.investments-list .icon-bl { position: absolute; }
.investments-list .icon-bl:after { content: ""; display: block; position: absolute; }
.investments-list .icon-auto { font-size: 39px; line-height: 28px; }
.investments-list .icon-buses { font-size: 39px; line-height: 28px; }
.investments-list .icon-desktop { font-size: 36px; line-height: 32px; }
.investments-list .icon-home { font-size: 35px; line-height: 28px; }
.investments-list .icon-equipment { font-size: 36px; line-height: 36px; }
.investments-list .icon-list { font-size: 40px; line-height: 40px; }

.icon-bl { display: inline-block; width: 87px; height: 87px; background-color: white; background-image: linear-gradient(to top, rgba(221, 250, 255, 0.53) 0%, rgba(255, 255, 255, 0.53) 100%); background-image: -webkit-linear-gradient(to top, rgba(221, 250, 255, 0.53) 0%, rgba(255, 255, 255, 0.53) 100%); -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; -webkit-box-shadow: 0 0 60px 5px rgba(69, 200, 220, 0.4); -moz-box-shadow: 0 0 60px 5px rgba(69, 200, 220, 0.4); box-shadow: 0 0 60px 5px rgba(69, 200, 220, 0.4); text-align: center; font-size: 0; }
.icon-bl:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.icon-bl [class*="icon"] { display: inline-block; vertical-align: middle; }

.theory { max-width: 616px; }
.theory h2 { padding-bottom: 0; }
.theory h4 { padding-top: 0; padding-bottom: 37px; letter-spacing: 0; }
.theory__descr { letter-spacing: 0.33px; padding-bottom: 16px; }
.theory .number-list { width: 48%; display: inline-block; vertical-align: top; margin: 24px -4px 31px 0; }
.theory .number-list_two { margin-left: 6.8%; width: 35%; }

.number-list { list-style: none; }
.number-list__item { position: relative; margin-bottom: 14px; min-height: 33px; font-size: 16px; font-weight: 300; line-height: 22px; }
.number-list__counter { position: relative; z-index: 2; display: inline-block; vertical-align: middle; margin-right: -4px; width: 33px; height: 33px; color: #45c8dc; font-size: 14px; font-weight: 400; padding-top: 6px; text-align: center; background-color: white; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; }
.number-list__text { display: inline-block; vertical-align: middle; margin-right: -4px; width: 100%; margin-left: -33px; padding-left: 50px; }
.number-list_info .number-list__counter { background-color: #45c9dc; color: #fff; }
.number-list_info .number-list__text { padding-left: 53px; }

.rates { padding-top: 41px; }
.rates-wrap { float: left; width: -moz-calc(34.21% - 38px); width: -webkit-calc(34.21% - 38px); width: calc(34.21% - 38px); margin-left: 38px; text-align: center; padding: 0 20px; background-color: white; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.rates-wrap:first-child { margin-left: 0; }
.rates-wrap_compact .rates-wrap__title { background: url("../img/rates-title.png") no-repeat center top; }
.rates-wrap_standart .rates-wrap__title { background: url("../img/rates-title2.png") no-repeat center top; }
.rates-wrap_premium .rates-wrap__title { background: url("../img/rates-title3.png") no-repeat center top; }
.rates-wrap__title { height: 84px; margin: 0 -20px 31px; padding: 22px 20px 0; color: white; }
.rates-wrap__descr { line-height: 22px; padding-bottom: 22px; }
.rates-wrap__descr strong { font-size: 18px; }
.rates-wrap__text { border-top: 1px solid #dbdcdf; margin: 5px -20px; padding: 25px 52px; font-size: 14px; line-height: 22px; letter-spacing: 0.1px; }
.rates-wrap-footer { background: #262a33; margin: 0 -20px; padding: 20px 20px 45px; -webkit-border-radius: 0 0 5px 5px; -moz-border-radius: 0 0 5px 5px; border-radius: 0 0 5px 5px; }
.rates-wrap-footer__title { font-size: 20px; color: #fff; }
.rates-form__field { white-space: nowrap; margin: 7px 0 18px; }
.rates-form__field label, .rates-form__field input { display: inline-block; vertical-align: middle; }
.rates-form__field input[type="text"] { width: 100px; height: 38px; padding: 0 14px; background-color: #363c4a; border: none; margin-left: 20px; color: #45c8dc; font-size: 18px; font-weight: 500; line-height: 18px; }
.rates-form__field input[type="text"].sm { width: 88px; }
.rates-form__field label { padding-right: 3px; width: 140px; text-align: right; }
.rates-form .btn_rates { margin-top: 26px; }

.box-rates { padding-top: 21px; *zoom: 1; }
.box-rates:after { content: " "; display: table; clear: both; }

.how-work { margin-top: 36px; }
.how-work-list { position: relative; margin: 15px -56px 10px 64px; text-align: center; background: url("../img/how-work-bg-line.png") no-repeat left 193px; }
.how-work-list:after, .how-work-list:before { content: ""; position: absolute; display: block; }
.how-work-list:after { background: url("../img/how-work-bg-circle-right.png?ver1.0") no-repeat 0 0; width: 549px; height: 150px; right: 0; top: 44px; }
.how-work-list:before { background: url("../img/how-work-bg-circle-left.png?ver1.0") no-repeat 0 0; width: 283px; height: 150px; left: -97px; top: 193px; }
.how-work-list__item { position: relative; display: inline-block; vertical-align: top; margin-right: -4px; width: 33.33%; padding-left: 65px; text-align: left; }
.how-work-list__item:before { content: ""; position: absolute; top: 44px; left: 2px; right: 0px; z-index: 2; display: block; border-top: 1px dashed #45c7dc; }
.how-work-list__item:nth-child(1), .how-work-list__item:nth-child(2), .how-work-list__item:nth-child(3) { margin-bottom: 207px; }
.how-work-list__item:nth-child(1):after, .how-work-list__item:nth-child(2):after, .how-work-list__item:nth-child(3):after { content: ""; position: absolute; top: 44px; left: 2px; right: 0px; z-index: 1; display: block; height: 1px; background: -moz-linear-gradient(left, rgba(30, 87, 153, 0) 0%, #45c7dc 100%); background: -webkit-linear-gradient(left, rgba(30, 87, 153, 0) 0%, #45c7dc 100%); background: linear-gradient(to right, rgba(30, 87, 153, 0) 0%, #45c7dc 100%); }
.how-work-list__item:nth-child(3):before { right: 80px; }
.how-work-list__item:nth-child(3):after { display: none; }
.how-work-list__item:nth-child(4):after, .how-work-list__item:nth-child(5):after { content: ""; position: absolute; top: 44px; right: 2px; left: 0px; z-index: 1; display: block; height: 1px; background: -moz-linear-gradient(left, #45c7dc 0%, rgba(30, 87, 153, 0) 100%); background: -webkit-linear-gradient(left, #45c7dc 0%, rgba(30, 87, 153, 0) 100%); background: linear-gradient(to right, #45c7dc 0%, rgba(30, 87, 153, 0) 100%); }
.how-work-list__item:last-child:after { content: ""; display: block; height: 30px; width: 24px; position: absolute; top: 29px; right: 0; background: url("../img/arrow-right.png") no-repeat center; }
.how-work-list__item:last-child:before { right: 0; }
.how-work-list__item .counter { font-size: 24px; }
.how-work-list__item .counter:before { content: ""; display: block; position: absolute; top: 17px; left: 0; z-index: 3; width: 49px; height: 49px; background: #fff; -webkit-box-shadow: 0 0 24px rgba(69, 200, 220, 0.52); -moz-box-shadow: 0 0 24px rgba(69, 200, 220, 0.52); box-shadow: 0 0 24px rgba(69, 200, 220, 0.52); -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; }
.how-work-list__item .counter:after { content: ""; position: absolute; top: 32px; left: 15px; z-index: 3; display: block; width: 19px; height: 19px; background-color: #4fcee1; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; }
.how-work-list__text { margin-top: 25px; font-size: 16px; line-height: 24px; padding-right: 30px; letter-spacing: 1.4px; }

.demos h2 { padding: 26px 0 2px; }
.demos h4 { padding-top: 0; }
.demos-content { margin-top: 29px; }
.demos-list { margin-top: 26px; list-style: none; margin: 26px -19px 0; }
.demos-list__item { display: inline-block; vertical-align: top; margin-right: -4px; width: 33.33%; padding: 0 19px; margin-bottom: 38px; }
.demos-wrap { -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; background: #fff; overflow: hidden; }
.demos-wrap__img { height: 281px; }
.demos-wrap__img img { min-height: 281px; width: 100%; display: block; }
.demos-wrap__cont { padding: 22px 24px 36px; }
.demos-wrap__title { position: relative; top: 3px; display: inline-block; vertical-align: middle; margin-right: -4px; width: 100%; margin-left: -77px; padding: 0 0 0 117px; }
.demos-wrap__summa { margin-top: 34px; margin-left: 14px; font-size: 14px; line-height: 20px; padding-bottom: 0; letter-spacing: 0.3px; }
.demos-wrap .marker-list { margin-top: 34px; margin-left: 16px; }

.calendar { position: relative; z-index: 2; display: inline-block; vertical-align: middle; margin-right: -4px; width: 77px; height: 77px; padding: 8px 5px; color: #262a33; font-size: 14px; font-weight: 400; line-height: 16px; text-align: center; background-color: #45c7dc; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }
.calendar span { color: #fff; display: block; font-size: 41px; font-weight: 700; line-height: 44px; }

.cd-gallery { width: 100%; }

.cd-gallery .mix { display: none; }

.partners { margin-top: 6px; }
.partners h2 { padding: 26px 0 2px; }
.partners h4 { padding-top: 0; }
.partners-wrap { position: relative; margin: 1px 0 0 -46px; min-height: 449px; background: url("../img/partners-img.png") no-repeat left top; *zoom: 1; }
.partners-wrap:after { content: " "; display: table; clear: both; }
.partners-list { width: 300px; float: right; margin-top: 167px; margin-right: 104px; list-style: none; }
.partners-list__item h5 { padding-bottom: 5px; }
.partners-list__item:first-child { margin-bottom: 32px; }
.partners-block { position: absolute; top: 212px; left: 405px; width: 160px; }
.partners-block__text { padding: 0; }
.partners-rate { position: absolute; top: 429px; left: 0; max-width: 968px; width: 100%; text-align: center; }

.question { margin-top: 30px; }
.question-wrap { margin-top: 22px; }
.question-form { float: left; width: 58%; }
.question-form input.form-control, .question-form textarea.form-control { height: 55px; padding: 0 22px; background-color: white; border: 1px solid #aeaeae; font-size: 16px; font-weight: 300; }
.question-form input.form-control:-moz-placeholder, .question-form input.form-control::-moz-placeholder, .question-form textarea.form-control:-moz-placeholder, .question-form textarea.form-control::-moz-placeholder { color: #929499; opacity: 1; }
.question-form input.form-control::-webkit-input-placeholder, .question-form textarea.form-control::-webkit-input-placeholder { color: #929499; }
.question-form textarea.form-control { padding-top: 15px; height: 201px; }
.question-form .box-group { margin: 0 -8px; }
.question-form .box-group .box-field { width: 33.33%; padding: 0 8px; }
.question-form .box-field { margin-bottom: 18px; }
.question-form .btn { margin-top: 23px; max-width: 274px; display: block; width: 100%; height: 56px; font-size: 16px; font-weight: 400; -webkit-border-radius: 28px; -moz-border-radius: 28px; border-radius: 28px; }
.question-info { margin-left: 62.55%; }
.question-info__title { padding-top: 0; margin-top: -9px; padding-bottom: 23px; }
.question-info .social { display: inline-block; vertical-align: top; margin-right: -4px; width: 225px; }
.question-info .messeger { display: inline-block; vertical-align: top; width: 245px; margin-right: -4px; margin-left: 68px; }

.social-list { list-style: none; margin: 0 -5px 0 -3px; }
.social-list__item { display: inline-block; vertical-align: top; padding: 0 5px; margin-right: -4px; margin-bottom: 10px; width: 50%; }
.social-list__link { display: block; height: 107px; color: #45c8dc; border: 1px solid #45c8dc; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; text-align: center; font-size: 0; text-align: center; }
.social-list__link:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.social-list__link .zmdi { display: inline-block; vertical-align: middle; font-size: 24px; line-height: 24px; }
.social-list__link:hover { background-color: #45c8dc; color: #fff; }

.messeger-list { list-style: none; margin-top: -5px; }
.messeger-list__item { margin-bottom: 24px; font-size: 16px; font-weight: 500; line-height: 22px; }

.training { height: 638px; margin: -10px -70px 0 -83px; padding: 46px 70px 0 83px; background: #fff url("../img/trening-img.png") no-repeat right bottom; }
.training h1 { padding-top: 0; padding-bottom: 50px; }
.training h3 { padding-left: 39px; line-height: 48px; }
.training-wrap { width: 42%; }
.training__quote { position: relative; font-size: 36px; line-height: 38px; color: #262a33; padding: 0 0 54px 39px; letter-spacing: 0.7px; }
.training__quote:before { content: "/"; display: block; position: absolute; left: 0px; top: 1px; font-size: 44px; line-height: 44px; color: #3fabbf; }

.get-free { position: relative; margin-right: -70px; padding-right: 70px; padding-top: 24px; background: url("../img/get-free-bg.png") no-repeat right top; }
.get-free .h2 { line-height: 60px; margin-bottom: 6px; }
.get-free-info { margin-right: 514px; padding: 50px 40px 0 92px; margin-top: 17px; margin-bottom: 33px; background: #fff; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; overflow: hidden; }
.get-free-info .get-free__quote { margin-left: 0; }
.get-free-info .get-free__quote:before { color: #45c8dc; font-size: 44px; font-weight: 300; line-height: 44px; }
.get-free__quote { position: relative; padding-top: 0; padding-bottom: 26px; margin-left: 33px; font-size: 24px; line-height: 32px; letter-spacing: 0.5px; }
.get-free__quote:before { display: block; position: absolute; left: -30px; top: 2px; content: "/"; color: #45c8dc; font-size: 36px; line-height: 36px; }
.get-free__col, .get-free-list { display: inline-block; vertical-align: top; margin-right: -4px; width: 40%; }
.get-free-list { width: 43%; list-style: none; margin-left: 1.9%; }
.get-free-list__item { margin-bottom: 30px; }
.get-free-list .counter { position: relative; z-index: 2; width: 69px; font-size: 36px; }
.get-free-list__text { display: inline-block; vertical-align: top; margin-right: -4px; width: 100%; margin-left: -75px; padding-left: 75px; letter-spacing: 0.33px; }
.get-free__footer { position: relative; top: -2px; background: #000; margin: 0 -40px 0 -92px; padding: 40px 40px 42px 60px; }
.get-free__footer h5 { position: relative; z-index: 2; display: inline-block; vertical-align: middle; width: 235px; margin-right: -4px; line-height: 24px; color: #fdfdfd; font-weight: 300; }
.get-free__footer input.get-free-form__input { width: 224px; height: 44px; display: inline-block; vertical-align: middle; margin-right: -4px; text-align: center; background-color: #4a5266; border: 1px solid #262a33; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; color: white; font-size: 16px; font-weight: 300; line-height: 20px; }
.get-free__footer input.get-free-form__input:-moz-placeholder, .get-free__footer input.get-free-form__input::-moz-placeholder { color: #fff; opacity: 1; }
.get-free__footer input.get-free-form__input::-webkit-input-placeholder { color: #fff; }
.get-free__footer .btn { width: 223px; height: 44px; margin-right: -4px; margin-left: 37px; font-size: 16px; font-weight: 400; letter-spacing: 0.3px; }
.get-free-form { display: inline-block; vertical-align: middle; margin-left: -235px; padding-left: 307px; }
.get-free-book { position: absolute; z-index: 1; width: 621px; height: 644px; top: 108px; right: 67px; padding: 52px 20px 40px 264px; background: url("../img/book.png") no-repeat center; }
.get-free-book__title { position: relative; font-weight: 900; font-size: 40px; }
.get-free-book__title:after { content: ""; display: block; left: 0; position: absolute; bottom: -5px; width: 61px; height: 8px; background: #50b7c7; }
.get-free-book__descr { position: absolute; bottom: 109px; left: 265px; right: 20px; font-size: 26px; line-height: 36px; max-width: 245px; letter-spacing: 0.8px; }
.get-free .number-list { display: inline-block; vertical-align: top; margin-right: -4px; margin-bottom: 10px; width: 41%; margin-top: 8px; }
.get-free .number-list_two { margin-left: 12.3%; }
.get-free .number-list__item { margin-bottom: 16px; }
.get-free .number-list__text { letter-spacing: 0.3px; }

.lessons { margin: 33px -70px 0 -83px; background: #fff; padding: 35px 70px 71px 83px; }
.lessons h2 { padding-bottom: 40px; }
.lessons .get-free__quote { margin-left: 30px; width: 40%; display: inline-block; vertical-align: top; margin-right: -4px; }
.lessons-form { display: inline-block; vertical-align: top; width: 47%; margin-right: -4px; margin-left: 9.84%; margin-top: 1px; }
.lessons-form p { letter-spacing: 0.33px; padding-bottom: 28px; }
.lessons-form input.lessons-form__input { width: 43.5%; padding: 0 20px; font-size: 16px; font-weight: 300; display: inline-block; vertical-align: middle; margin-right: -4px; height: 44px; border: 1px solid #d6d6d6; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }
.lessons-form__button { position: relative; top: 2px; height: 44px; width: 32.5%; margin-left: 3%; font-size: 16px; letter-spacing: 0.5px; }

.causes { margin-top: 34px; }
.causes h2 { line-height: 60px; }
.causes-list { margin-top: 14px; margin-bottom: 20px; margin-left: 65px; margin-right: -56px; list-style: none; }
.causes-list__item { position: relative; display: inline-block; vertical-align: top; margin-right: -4px; width: 24%; padding-left: 65px; margin-bottom: 28px; }
.causes-list__item:after { content: ""; position: absolute; top: 42px; right: 2px; left: 0px; display: block; height: 1px; background: -moz-linear-gradient(left, #45c7dc 0%, rgba(30, 87, 153, 0) 100%); background: -webkit-linear-gradient(left, #45c7dc 0%, rgba(30, 87, 153, 0) 100%); background: linear-gradient(to right, #45c7dc 0%, rgba(30, 87, 153, 0) 100%); }
.causes-list__item:first-child, .causes-list__item:nth-child(5n) { width: 26.1%; }
.causes-list__item:nth-child(2), .causes-list__item:nth-child(6) { width: 24.9%; }
.causes-list__item:nth-child(3), .causes-list__item:nth-child(7) { width: 25.8%; }
.causes-list__item:nth-child(4), .causes-list__item:nth-child(8) { width: 23.4%; }
.causes-list__item .counter { font-size: 24px; }
.causes-list__item .counter:before { content: ""; display: block; position: absolute; top: 17px; left: 0; z-index: 1; width: 49px; height: 49px; background: #fff; -webkit-box-shadow: 0 0 24px rgba(69, 200, 220, 0.52); -moz-box-shadow: 0 0 24px rgba(69, 200, 220, 0.52); box-shadow: 0 0 24px rgba(69, 200, 220, 0.52); -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; }
.causes-list__item .counter:after { content: ""; position: absolute; top: 32px; left: 15px; z-index: 1; display: block; width: 19px; height: 19px; background-color: #4fcee1; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; }
.causes-list__text { margin-top: 25px; font-size: 16px; line-height: 24px; padding-right: 75px; letter-spacing: 1.45px; }

.author { margin: 38px -70px 0 -83px; background: #fff; padding: 0 0 0 83px; overflow: hidden; }
.author h2 { line-height: 60px; }
.author-img { float: right; width: 43%; overflow: hidden; }
.author-img img { display: block; }
.author-info { padding: 32px 70px 32px 0; margin-right: 43%; }
.author .marker-list { margin: 15px 25px 34px 23px; }
.author .marker-list__item { padding-left: 50px; font-size: 16px; font-weight: 300; line-height: 22px; }
.author .marker-list__item:after { top: 7px; }
.author .marker-list__item:before { top: 1px; }

.company-list { list-style: none; margin: 5px 0 25px; text-align: justify; line-height: 0; font-size: 0; text-justify: newspaper; zoom: 1; text-align-last: justify; }
.company-list:after { content: ""; display: inline-block; width: 100%; height: 0px; visibility: hidden; overflow: hidden; }
.company-list__item { display: inline-block; vertical-align: middle; }
.company-list__logo { display: block; background: url("../img/sprite-logo.png") no-repeat left top; }
.company-list__logo.vesty { width: 102px; height: 27px; background-position: -27px -25px; }
.company-list__logo.vesty:hover { background-position: -27px -158px; }
.company-list__logo.vesty2 { width: 107px; height: 34px; background-position: -159px -22px; }
.company-list__logo.vesty2:hover { background-position: -159px -155px; }
.company-list__logo.oboz { width: 191px; height: 35px; background-position: -313px -21px; }
.company-list__logo.oboz:hover { background-position: -313px -154px; }
.company-list__logo.ra_vesty { width: 118px; height: 38px; background-position: -527px -20px; }
.company-list__logo.ra_vesty:hover { background-position: -527px -153px; }
.company-list__logo.kremlin { width: 132px; height: 22px; background-position: -682px -29px; }
.company-list__logo.kremlin:hover { background-position: -682px -162px; }
.company-list__logo.vesty_fm { width: 182px; height: 26px; background-position: -31px -86px; }
.company-list__logo.vesty_fm:hover { background-position: -31px -219px; }
.company-list__logo.techbiz { width: 126px; height: 36px; background-position: -255px -84px; }
.company-list__logo.techbiz:hover { background-position: -255px -217px; }
.company-list__logo.alk_vesty { width: 113px; height: 34px; background-position: -431px -86px; }
.company-list__logo.alk_vesty:hover { background-position: -431px -219px; }
.company-list__logo.filrst_bit { width: 144px; height: 34px; background-position: -590px -84px; }
.company-list__logo.filrst_bit:hover { background-position: -590px -217px; }
.company-list__logo.netcat { width: 45px; height: 34px; background-position: -774px -86px; }
.company-list__logo.netcat:hover { background-position: -774px -219px; }

.results { margin-top: 38px; }
.results-slider { margin: 21px 35px 20px 60px; text-align: center; }
.results-slider .slick-arrow { background-color: transparent; border: none; font-size: 34px; margin-top: -48px; }
.results-slider .slick-prev { left: -66px; }
.results-slider .slick-next { right: -44px; }
.results-slider__img { display: inline-block; vertical-align: top; width: 215px; height: 215px; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; overflow: hidden; border: 24px solid rgba(255, 255, 255, 0.5); }
.results-slider__img img { display: block; width: 100%; }
.results-slider p { padding-top: 14px; font-size: 18px; font-weight: 300; }

.box-tab-cont { position: relative; margin: 45px 57px 0 76px; }

.hide { position: absolute; left: 0; top: 0; height: 0; width: 0; overflow: hidden; z-index: -1; -moz-opacity: 0; -khtml-opacity: 0; opacity: 0; filter: alpha(opactiy=0); }

.login { position: absolute; top: 100px; left: 305px; right: 0; bottom: 0; overflow-y: auto; text-align: center; }
.login-wrap { position: absolute; top: 50%; left: 50%; -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.box-form-group { display: inline-block; vertical-align: top; margin-top: 16px; }
.box-form-group .box-field { margin-bottom: 27px; }
.box-form-group .box-field__label { color: #262a33; font-size: 18px; font-weight: 300; line-height: 20px; margin-bottom: 9px; }
.box-form-group .box-field__input { margin: 0 auto; width: 290px; }
.box-form-group .box-field__input input { height: 54px; border: 1px solid #d6d6d6; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; font-size: 20px; text-align: center; font-weight: 300; line-height: 20px; color: rgba(38, 42, 51, 0.5); }
.box-form-group .box-field__input input:-moz-placeholder, .box-form-group .box-field__input input::-moz-placeholder { color: rgba(38, 42, 51, 0.5); opacity: 1; }
.box-form-group .box-field__input input::-webkit-input-placeholder { color: rgba(38, 42, 51, 0.5); }
.box-form-group .box-field + .dop-text { margin-top: -4px; }
.box-form-group .box-form__button { display: block; width: 100%; max-width: 290px; margin: 25px auto 0; }

.dop-text { font-size: 18px; line-height: 20px; color: #7c7c7c; font-weight: 300; letter-spacing: 0; }
.dop-text a { color: #45c8dc; font-weight: 500; text-decoration: underline; }
.dop-text a:hover { text-decoration: none; }

/* 7. FOOTER */
/* ================================================ */
footer { text-align: left; position: absolute; left: 0px; bottom: 0px; z-index: 1; width: 100%; min-width: 320px; }

/* 8. MEDIA */
/* ================================================ */
@media screen and (max-width: 1600px) { .video-info, .video-cont { height: 400px; }
  .box-filter .box-group .box-field { width: 240px; }
  .box-filter .box-group .box-field:nth-child(2) { width: 300px; } }
@media screen and (max-width: 1400px) { .header-wrapper { padding: 30px 19px 0 53px; }
  .user { margin-left: 40px; }
  .content { padding-right: 40px; padding-left: 359px; }
  .video-info { width: 280px; padding: 12px 20px 41px 20px; }
  .video-info__title { font-size: 22px; line-height: 26px; }
  .video-info__text { font-size: 16px; line-height: 24px; }
  .video-info, .video-cont { height: 330px; }
  .box-filter { padding-left: 20px; padding-right: 20px; }
  .box-table-lots { margin-left: -20px; margin-right: -20px; }
  .box-filter .box-group .box-field { width: 227px; }
  .box-filter .box-group .box-field:nth-child(2) { width: 289px; } }
@media screen and (max-width: 1200px) { h1 { font-size: 42px; line-height: 46px; padding-bottom: 20px; }
  header { left: 280px; }
  .header-wrapper { padding-left: 40px; }
  .sidebar { width: 280px; }
  .content { padding-left: 320px; }
  .logo { padding: 26px 20px 26px 32px; }
  .main-nav-list__link { padding-left: 65px; }
  .main-nav-list__icon { left: 28px; } }
@media screen and (max-width: 1120px) { .phone { display: none; }
  .list-check__item { margin-right: 12px; margin-bottom: 12px; } }
@media screen and (min-width: 1101px) { .hidden-desktop { display: none; } }
@media screen and (max-width: 1100px) { .hidden-laptop { display: none; }
  .video-wrap, .video-info, .video-cont { display: block; }
  .video-info { width: auto; height: auto; background-color: transparent; padding: 20px 0; }
  .video-info br { display: none; }
  .video-cont { height: 300px; }
  .box-table-lots:before { display: none; }
  .table-lots { padding: 0; }
  .table-lots table th, .table-lots table td { border-left: 1px solid #c9cacf; }
  .table-lots table th:first-child, .table-lots table td:first-child { border-left: none; }
  .table-lots table th { padding-bottom: 15px; border-bottom: 1px solid #c9cacf; } }
