
/* 3. MAIN STYLES
/* ================================================ */

.main-wrapper
	padding: 0 0 0 0
	min-width: 320px
	position: relative 
	overflow: hidden
	min-height: 100% 

.wrapper
	min-width: 320px
	max-width: 1280px
	padding: 0 40px 0 40px
	margin: 0 auto
	position: relative

/* titles */
h1
	font-size: 48px
	font-weight: 900
	line-height: 55px
	padding: 35px 0 25px 0
	letter-spacing: 0.7px

h2
	font-size: 48px
	font-weight: 900
	line-height: 55px
	padding: 35px 0 25px 0
	letter-spacing: 0.85px
h3 
	padding: 15px 0 15px 0
	font-size: 36px
	font-weight: 500
	line-height: 38px
	letter-spacing: 0.8px
h4 
	font-size: 24px
	font-weight: 700
	line-height: 34px
	padding: 15px 0 15px 0

h5
	font-size: 18px
	font-weight: 500
	line-height: 29px
	padding: 0 0 2px 0
p
	font-size: 16px
	line-height: 24px
	padding: 0 0 10px 0
	font-weight: 300

strong
	font-weight: 500

.normal 
	font-weight: 300



/* text position */

.text-left
	text-align: left !important

.text-center
	text-align: center !important

.text-right
	text-align: right !important

.text-info
	color: #45c8dc !important

.text-danger
	color: #f74608 !important  

.text-success
	color: #29b88b !important 

.nowrap
	white-space: nowrap !important

.marker-list 
	list-style: none
	&__item 
		position: relative
		font-size: 14px
		line-height: 16px
		font-weight: 300
		padding-left: 41px
		margin-bottom: 16px
		letter-spacing: 0.3px
		&:before 
			content: ''
			display: block
			position: absolute
			left: -1px
			top: -3px
			width: 20px
			height: 20px
			+opacity(0.2)
			background-color: #45c7dc
			+br(50%)
		&:after 
			content: ''
			position: absolute
			left: 5px
			top: 3px
			width: 8px
			height: 8px
			background-color: #45c7dc
			+br(50%)


/* loader */
.loaded .main-wrapper
	visibility: hidden

.icon-load
	background: url(../img/loader.gif?ver1.0) no-repeat left top
	width: 40px
	height: 40px
	position: fixed
	left: 50%
	top: 50%
	margin-left: -20px
	margin-left: -20px
	display: none

.loaded .icon-load
	display: block

.tooltip
	position: absolute
	z-index: 1070
	display: block
	font-family: "Roboto", Helvetica, Arial, sans-serif
	font-style: normal
	font-weight: normal
	letter-spacing: normal
	line-break: auto
	line-height: 1.42857143
	text-align: left
	text-decoration: none
	text-shadow: none
	text-transform: none
	white-space: normal
	word-break: normal
	word-spacing: normal
	word-wrap: normal
	font-size: 12px
	opacity: 0
	filter: alpha(opacity=0)
.tooltip.in
	opacity: 0.9
	filter: alpha(opacity=90)
.tooltip.top
	margin-top: -3px
	padding: 5px 0
.tooltip.right
	margin-left: 3px
	padding: 0 5px
.tooltip.bottom
	margin-top: 3px
	padding: 5px 0
	width: 156px
	margin-left: 55px
.tooltip.left
	margin-left: -3px
	padding: 0 5px
.tooltip-inner
	max-width: 200px
	padding: 17px 15px
	color: #ebedf0
	font-size: 11px
	font-weight: 400
	line-height: 14px
	text-align: left
	background-color: #000000
	border-radius: 4px
	letter-spacing: 0.8px
.tooltip-arrow
	position: absolute
	width: 0
	height: 0
	border-color: transparent
	border-style: solid
.tooltip.top .tooltip-arrow
	bottom: 0
	left: 50%
	margin-left: -5px
	border-width: 5px 5px 0
	border-top-color: #000000
.tooltip.right .tooltip-arrow
	top: 50%
	left: 0
	margin-top: -5px
	border-width: 5px 5px 5px 0
	border-right-color: #000000
.tooltip.left .tooltip-arrow
	top: 50%
	right: 0
	margin-top: -5px
	border-width: 5px 0 5px 5px
	border-left-color: #000000
.tooltip.bottom .tooltip-arrow
	top: 0
	left: 16px !important
	border-width: 0 5px 5px
	border-bottom-color: #000000

// scroll
.nicescroll-rails
	background: #CCF5F9
	height: 5px !important
	margin-top: -6px

/* 3.1. Icons
     ====================== */


.ic
	position: relative
	display: inline-block
	vertical-align: middle

// If need icons
@each $i in peshe, arrow-left
	.ic--#{$i}
		+s(ic--#{$i})


	
/* 3.2. Buttons
     ====================== */
.btn, a.btn
	position: relative
	display: inline-block
	vertical-align: middle
	height: 49px
	padding: 16px 28px 0
	font: 400 14px/18px 'Roboto', Arial, sans-serif
	color: #444
	text-align: center
	text-decoration: none
	border: none
	background-color: #eee
	cursor: pointer
	+br(24px)
	+transition(all 0.2s linear)
	&:hover
		background-color: #fff
		text-decoration: none
		color: #000
	&_info 
		color: #fff
		background-color: #45c8dc
		+bs(0 2px 18px #45c8dc)
		background-image: radial-gradient(circle 37px at center, #42d2e8 0%, #45c8dc 100%)
		background-image: -webkit-radial-gradient(circle 37px at center, #42d2e8 0%, #45c8dc 100%)
		&:hover 
			box-shadow: none
	&_default 
		height: 53px
		padding: 17px 40px 0
		letter-spacing: 1px
		border: 1px solid #45c7dc
		background-color: transparent
		+br(26px)
		&:hover 
			color: #fff
			background: #45c7dc
	&_lg 
		height: 56px
		font-size: 16px
		letter-spacing: 0.33px
		+br(28px)
	&_rates
		height: 56px
		padding: 0 38px
		font-size: 16px
		font-weight: 400
		+br(28px)
input.btn,
button.btn 
	padding-top: 0 !important
	padding-bottom: 1px

// button group
.btn-group 
	.btn + .btn 
		margin-left: 15px
	&_vertical
		.btn + .btn 
			margin-top: 15px


/* 3.3. forms
     ====================== */
input[type='text'], 
input[type='number'], 
input[type='email'], 
input[type='tel'], 
input[type='search'], 
input[type='url'], 
input[type='password'], 
textarea
	height: 38px
	padding: 0 10px
	color: #444
	font: 700 16px/20px 'Roboto', Arial, sans-serif
	border: 1px solid #d6d6d6
	background: transparent
	&.form-control 
		display: block
		width: 100%
	+placeholder
		color: #aaa
	+placeholder-color(#aaa)

textarea 
	height: auto
	min-height: 100px
	padding-top: 10px
	resize: none
	
label 
	display: block
	font-size: 16px
	font-weight: 300
	line-height: 20px
	letter-spacing: 0

.box-group 
	.box-field 
		display: inline-block
		vertical-align: top
		margin-right: -4px

/* 4. HEADER
/* ================================================ */
header
	min-width: 320px
	height: 108px
	text-align: left
	position: fixed
	left: 305px
	right: 0
	top: 0px
	z-index: 99
	background: #fff

.header-wrapper 
	padding: 30px 19px 0 83px
	+clr

.header__text 
	padding-top: 10px
	padding-bottom: 0
	color: #2a2e37
	font-size: 18px
	font-weight: 500
	float: left

.phone 
	padding-bottom: 0
	padding-top: 4px
	float: right
	color: #262a33
	font-size: 12px
	line-height: 14px
	font-weight: 300
	letter-spacing: 0.3px
	&__number 
		display: block
		color: #45c8dc
		font-size: 24px
		line-height: 24px
		font-weight: 500
		letter-spacing: 0.4px

.user 
	float: right
	&-avatar, &-nav, &-cont 
		display: inline-block
		vertical-align: middle
		margin-right: -4px
	&-avatar
		margin-left: 15px
	&-nav
		padding-left: 87px
		list-style-type: none
		&__item 
			display: inline-block
			vertical-align: middle
			&:first-child
				&:after
					content: ''
					display: inline-block
					vertical-align: middle
					height: 13px
					border-right: 1px solid #b0b0b0
		&__link 
			font-size: 14px
			font-weight: 400
			line-height: 16px
			color: #464646
			&:hover 
				text-decoration: underline
	&-cont 
		text-align: right
		padding-left: 37px
		&__text 
			padding: 0
			font-size: 14px
			line-height: 16px
			color: #464646
			font-weight: 300
			letter-spacing: 0.3px
		&__name 
			color: #262a33
			font-weight: 400
		&__link 
			color: #45c7db
			font-size: 14px
			font-weight: 300
			text-decoration: underline
			letter-spacing: 0.6px
			&:hover 
				text-decoration: none

/* 5. SIDEBAR
/* ================================================ */

.sidebar 
	position: fixed
	top: 0
	left: 0
	bottom: 0
	z-index: 3
	overflow-y: auto
	width: 305px
	background-color: #262a33

.logo 
	margin-bottom: 61px
	padding: 26px 20px 26px 43px
	img 
		max-width: 100%
	
.main-nav-list
	list-style-type: none
	&__item 
		margin-bottom: 9px
		&.active .main-nav-list__link 
			&:after 
				content: ''
				position: absolute
				top: 50%
				right: 0
				margin-top: -9px
				display: block
				+arr(5,16, #ccf8ff, l)

				
	&__link 
		+vertical
		position: relative
		display: block
		height: 82px
		padding: 0 20px 0 111px
		color: rgba(255,255,255, 0.7)
		letter-spacing: 0.3px
		text-align: left
		border-left: 3px solid transparent
	&__text
		display: inline-block
		vertical-align: middle
		line-height: 18px
		font-size: 16px
		
	&__item.active .main-nav-list__link, 
	&__link:hover 
		border-left-color: #45c8dc
		background-color: #1d2027
		color: #fff
		.main-nav-list__icon 
			opacity: 1
	&__icon 
		position: absolute
		top: 50%
		margin-top: -11px
		left: 63px
		width: 22px
		font-size: 22px
		+opacity(0.5)
		color: #45c8dc

/* 6. CONTENT
/* ================================================ */
.content
	width: 100%
	min-width: 320px
	text-align: left
	padding-right: 70px 
	padding-left: 389px
	padding-bottom: 70px

.g-lot .content 
	background: url("../img/lot-bg.png") no-repeat top right

.g-du .content
	background: url("../img/du-bg.png") no-repeat 995px 62px

.g-login 
	background: url("../img/login-bg.png") no-repeat right top

.box-bread-crumbs 
	margin: 9px 0 23px
.bread-crambs
	list-style: none
	&__item 
		display: inline-block
		vertical-align: top
		font-size: 13px
		line-height: 18px
		letter-spacing: 0.8px
		margin-right: 6px
	&__text 
		display: inline-block
		vertical-align: middle
		font-weight: 300
	&__link 
		display: inline-block
		vertical-align: middle
		margin-right: -1px
		color: #4b5161
		font-size: inherit
		line-height: inherit
		&:hover 
			text-decoration: underline
	&__icon 
		display: inline-block
		vertical-align: middle
		margin-right: -3px
		margin-left: 3px

.video 
	&-wrap
		display: table
		width: 100%
		margin-bottom: 50px
	&-info, &-cont 
		display: table-cell
		vertical-align: top
		height: 624px

	&-info 
		width: 334px
		padding: 27px 37px 41px 37px
		background: #fff
		&__header 
			margin-bottom: 6px
			padding-left: 3px
		&__icon 
			position: relative
			z-index: 2
			top: -4px
			display: inline-block
			vertical-align: middle
			margin-right: -4px
			width: 69px
			height: 69px
			background-color: #45c8dc
			text-align: center
			+br(50%)
			+vertical
			span 
				display: inline-block
				vertical-align: middle
				font-size: 31px
				color: #fff
				line-height: 31px
		&__title 
			display: inline-block
			vertical-align: middle
			margin-right: -4px
			margin-left: -70px
			padding-left: 90px
			width: 100%
			font-size: 24px
			font-weight: 700
			line-height: 36px
			letter-spacing: 0.3px
		&__text 	
			font-size: 18px
			font-weight: 300
			line-height: 27px
			letter-spacing: 0
	&-cont 
		position: relative
		&:after 
			content: ''
			display: block
			+coverdiv 
			z-index: 1
			background: url("../img/video-bg.png") no-repeat center
			+cover
		video, iframe 
			display: block
			width: 100%
			height: 100%
			min-width: 100%
			min-height: 100%
	&__play 
		position: absolute
		top: 50%
		left: 50%
		z-index: 2
		margin: -29px 0 0 -30px
		color: #45c8dc

		font-size: 69px
		line-height: 23px
		border: none
		background-color: transparent
		padding: 0

.about
	position: relative
	z-index: 2
	&-bl	
		display: table
		width: 100%
		margin-bottom: 36px
	&__img, &__cont 
		display: table-cell
		vertical-align: middle
	&__img 
		img 
			display: block
			width: 100%
			max-height: 100%
	&__cont 
		width: 41.1%
		padding: 30px 2% 30px 8.86%
		background: #fff
	&__text 
		position: relative
		top: -4px
		padding: 0
		font-size: 18px
		font-weight: 300
		line-height: 24px
		&:before 
			content: '/'
			display: block
			position: absolute
			left: -30px
			top: 0
			color: #45c8dc
			font-size: 44px
			font-weight: 300
			line-height: 44px
	&-list 
		margin-top: 10px
		margin-bottom: 38px
		list-style: none
		+clr
		&__item 
			position: relative
			float: left
			+clr
			&.col2 
				width: 50%
				.about-list__cont:before 
					content: ''
					position: absolute
					top: 50%
					right: 100%
					margin-top: -10px
					display: block
					+arr(8,19,#fff,l)
			&.about-list__item_double .about-list__cont
				&:after 
					content: ''
					position: absolute
					left: 50%
					bottom: 100%
					z-index: 2
					margin-left: -10px
					display: block
					+arr(19,8,#fff,t)
			&.col3 
				width: 75%
				.about-list__cont 
					width: 33.33%
					&:before 
						content: ''
						position: absolute
						top: 50%
						left: 100%
						z-index: 1
						margin-top: -10px
						display: block
						+arr(8,19,#fff,r)
				.about-list__icon 
					background-color: #4b5161
					width: 66.66%
		&__img, &__icon 
			position: relative
			float: left
			width: 50%
			height: 362px
			img 
				max-width: 100%
				height: 100%
		.img-text
			&__cont
				position: absolute
				bottom: 64px
				left: 0 
				right: 0
				color: #fff
				text-align: center
				padding: 0 20px
				p 
					font-size: 18px
					font-weight: 400
					line-height: 24px
					margin-bottom: 40px
		&__img_double
			position: absolute
			bottom: 100%
			right: 0
		&__icon
			+vertical
			text-align: center
			background-color: #262a33
			&-cont 
				display: inline-block
				vertical-align: middle
			[class*="icon-"]
				display: inline-block
				color: #fff !important
				margin-bottom: 16px
			p 
				color: white
				font-size: 18px
				line-height: 26px
				position: relative
				top: 7px
				span
					display: block
					color: #45c7dc
					font-size: 36px
					line-height: 36px
			.img-text p
				font-weight: 300
				font-size: 16px
		&__col 
			display: inline-block
			vertical-align: middle
			width: 272px
			height: 272px
			margin-right: -13px
			margin-left: -20px
			+vertical
			border: 1px solid #45c7dc	
			+br(50%)	
			&:nth-child(2)
				border-style: dashed
			&-cont 
				display: inline-block
				vertical-align: middle
		&__cont 
			position: relative
			float: left
			width: 50%
			height: 362px
			background: #fff
			padding: 62px 60px
			p 
				margin-top: 15px
				padding-bottom: 0
				line-height: 24px
				font-weight: 300
				letter-spacing: 0.3px
				strong
					font-weight: 500
			ul 
				margin-top: 23px
				list-style: none
				line-height: 24px
				font-weight: 300
				li:before 
					content: '-'
					display: inline-block
					vertical-align: middle
					color: #45c8dc
					margin-right: 3px
					font-weight: 900
		.icon-commun 
			font-size: 45px
			line-height: 45px
		.icon-statistic 
			font-size: 34px
			line-height: 34px
		.icon-peoples 
			font-size: 28px
			line-height: 28px
		.icon-date
			font-size: 21px
			line-height: 21px
			margin-bottom: 6px
		.icon-lots 
			font-size: 25px
			line-height: 25px
			margin-bottom: 6px

.counter
	display: inline-block
	font-size: 30px
	font-weight: 400
	line-height: 32px
	color: #45c8dc
	span
		color: #4b5161
	
.bargaining
	position: relative
	&:after 
		content: ''
		position: absolute
		right: -70px
		top: -100%
		display: block
		+png(bg-img)
	& > * 
		position: relative
		z-index: 2
	&__text 
		font-size: 18px
		font-weight: 300
		line-height: 24px
		margin-top: 18px
		letter-spacing: 0.35px
	&-list 
		margin-top: 27px
		margin-bottom: 20px
		list-style: none
		&__item
			position: relative 
			display: inline-block
			vertical-align: top
			margin-right: -4px
			width: 33.33%
			padding-left: 65px
			&:before 
				content: ''
				position: absolute
				top: 44px
				left: 2px
				right: 0px
				display: block
				border-top: 1px dashed #45c7dc
			&:last-child
				&:after 
					content: ''
					display: block
					height: 30px
					width: 24px
					position: absolute
					top: 29px
					right: 10px
					background: url("../img/arrow-right.png") no-repeat center
				&:before 
					right: 10px
			.counter
				font-size: 24px
				&:before 
					content: ''
					display: block
					position: absolute
					top: 17px
					left: 0
					z-index: 1
					width: 49px
					height: 49px
					background: #fff 
					+bs(0 0 24px rgba(69, 200, 220, 0.52))
					+br(50%)
				&:after 
					content: ''
					position: absolute
					top: 32px
					left: 15px
					z-index: 1
					display: block
					width: 19px
					height: 19px
					background-color: #4fcee1
					+br(50%)
		&__text 
			margin-top: 25px
			font-size: 16px
			line-height: 24px
			padding-right: 30px
			letter-spacing: 0.35px

.examples
	position: relative
	z-index: 2
	&-list
		list-style: none
		margin-top: 21px
		&__item 
			display: table
			width: 100%
			margin-bottom: 47px
		&__cont, &__img 
			display: table-cell
			vertical-align: top
		&__cont
			width: 48.4%
			padding: 54px 62px 50px 62px
			background: #fff
		&__img 
			img 
				width: 100%
				height: auto
		&__title 
			padding: 0
			letter-spacing: 0.45px
		&__info 
			display: block
			font-size: 18px
			font-weight: 400
			line-height: 26px
		&__text 
			font-size: 16px
			font-weight: 300
			line-height: 24px
			margin-top: 17px
			height: 106px
			overflow: hidden
			letter-spacing: 0.33px
		.marker-list
			margin-top: 36px
			margin-bottom: 24px
			&__item 
				width: 42%
				display: inline-block
				vertical-align: top
				margin-right: -4px
				&:nth-child(odd)
					width: 58.6%
		&__total 
			font-size: 14px
			line-height: 20px
			color: #4b5161
			letter-spacing: 0.25px

.tab-examples
	.examples-list__cont
		width: 62.3%
		padding: 65px 65px 13px 65px
	.examples-list__text
		height: auto
		padding-bottom: 12px
	.marker-list
		margin-top: 36px
		margin-bottom: 24px
		&__item 
			width: 49%
			display: inline-block
			vertical-align: top
			margin-right: -4px

.mission
	position: relative
	z-index: 2
	margin: 79px -70px 42px -84px
	padding: 36px 70px 56px 84px
	min-width: 320px
	background: url("../img/mission-bg.png") no-repeat center
	+cover
	h2
		margin-bottom: 18px
	&__col 
		display: inline-block
		vertical-align: top
		margin-right: -4px
		width: 37.7%
		&:first-child 
			width: 52%
			margin-right: 10.2%
	&__text 
		font-size: 22px
		line-height: 28px
		color: #fff
		padding-bottom: 16px
	&__quote 
		position: relative
		color: #fff
		font-size: 36px
		line-height: 38px
		letter-spacing: 0.7px
		margin-bottom: 48px
		&:before 
			content: '/'
			position: absolute
			top: 4px
			left: -40px
			display: block
			color: #3fabbf
			font-size: 44px
			line-height: 44px

.base
	position: relative
	&:before 
		content: ''
		position: absolute
		left: -155px
		top: -120%
		display: block
		+png(base-bg)
	& > * 
		position: relative
		z-index: 2
	&-list 
		list-style: none
		margin: 21px -15px 42px
		+clr
		&__item 
			float: left
			width: 50%
			padding: 0 15px	
			&:first-child 
				padding-right: 5px
			&:last-child 
				padding-left: 25px
	&-wrap
		position: relative
		padding: 65px 50px 40px 66px
		height: 216px
		background-color: white
		+br(2px)
		&__icon 
			display: inline-block
			vertical-align: middle
			margin-right: -4px
			width: 87px
			height: 87px
			background-color: white
			background-image: linear-gradient(to top, rgba(221, 250, 255, 0.53) 0%, rgba(255, 255, 255, 0.53) 100%)
			background-image: -webkit-linear-gradient(to top, rgba(221, 250, 255, 0.53) 0%, rgba(255, 255, 255, 0.53) 100%)
			+br(50%)
			+bs(0 0 40px 2px rgba(69,200,220, 0.4))
		&__cont 
			display: inline-block
			vertical-align: middle
			margin-right: -4px
			margin-left: 57px
			width: 47%
			p 
				line-height: 24px
				letter-spacing: 0.3px
		&__button.btn  
			position: absolute
			top: 50%
			right: 50px
			display: block
			margin-top: -21px
		&__title 
			padding-top: 0
			padding-bottom: 5px
			font-weight: 300
	
.contacts
	position: relative
	z-index: 2
	&-info 
		width: 447px
		float: left
		padding: 35px 41px 19px
		background-color: #262a33
		+br(5px 0 0 5px)
		&__title 
			padding-top: 0
			padding-bottom: 3px
			color: #fff
		&__bl
			padding-top: 7px 
	&-map 
		margin-left: 447px

	address 
		display: block
		color: #b8b8b8
		font-style: normal
		font-size: 18px
		font-weight: 300
		line-height: 30px
		margin-bottom: 23px
		&.ad2 
			padding-top: 2px
		&.ad3 
			padding-top: 8px
		p 
			padding-bottom: 0
			font-size: inherit
			line-height: inherit
			&.sm 
				font-size: 16px
				line-height: 24px
				letter-spacing: 0.33px
		a 
			color: #45c7dc
			font-weight: 500
			&:hover 
				text-decoration: underline
			&[href*="mailto"]
				text-decoration: underline
				&:hover 
					text-decoration: none

.box-contacts
	margin-top: 20px
	+clr

.box-lot-table
	overflow-x: auto

.lot
	background-color: white
	padding: 21px 20px 14px 33px
	margin-bottom: 32px
	+clr
	h1 
		padding-top: 0
		letter-spacing: 1px
	&-slider
		float: right
		width: 62.3%
		min-height: 1px
		img 
			display: block
			width: 100%
	&-info 
		margin-right: 68%
	&-table 
		width: 100%
		margin-bottom: 24px
		td 
			padding: 10px 10px 10px 28px
			font-size: 14px
			font-weight: 300
			line-height: 18px
			letter-spacing: 0px
			vertical-align: top
			&:first-child 
				width: 56.6%
		tr:nth-child(even)
			background-color: #ecfcff

.currency-list
	list-style: none
	&__item 
		display: inline-block
		vertical-align: top
		width: 30.2%
		margin-right: -4px
		margin-top: 5px
		margin-bottom: 7px
		color: #262a33
		font-size: 14px
		font-weight: 300
		line-height: 16px
		letter-spacing: 0px

.slider-for
	margin-bottom: 19px
	max-height: 514px
	overflow: hidden
	.slick-arrow 
		width: 35px
		height: 35px
		background-color: white
		border: none
		margin-top: -11px
		padding: 5px 0
		text-align: center
		box-shadow: 0 0 16px rgba(29, 32, 39, 0.5)
		+br(50%)
		color: #262a33
		font-size: 26px
		line-height: 13px
		&:hover 
			background: #ecfcff
	.slick-prev
		left: 40px
		padding-right: 2px
	.slick-next
		right: 40px
		padding-left: 2px

.slider-nav
	margin: 0 -8px
	&__item 
		max-height: 152px
		cursor: pointer
		display: inline-block !important
		vertical-align: bottom 
		float: none
		font-size: 0
		line-height: 0
		margin: 0 8px
		&:hover 
			+opacity(0.8)
	
.calculator	
	padding: 31px 74px 15px 33px
	background-color: white
	&__title, &__form
		display: inline-block
		vertical-align: top
		margin-right: -4px
	&__title
		position: relative
		z-index: 2
		width: 310px
		padding: 0 0 20px
	&__form
		position: relative
		margin-left: -310px
		padding-left: 313px
		width: 100%
		.btn
			position: absolute
			top: -6px
			right: -4px
			width: 191px
			height: 56px
			font-size: 16px
			font-weight: 400
			letter-spacing: 0.6px
			+br(28px)
			+bs(0 8px 35px #45c8dc)
			&:hover
				box-shadow: none
	input[type="text"]
		width: 95px
		height: 38px
		border: 1px solid #d6d6d6
		background-color: transparent
		padding: 0 8px 0 14px
		color: #4b5161
		font-family: 'Roboto'
		font-size: 16px
		font-weight: 700
		line-height: 20px
	.box-form
		width: 67.1%
		
	.box-field
		text-align: right
		display: inline-block
		vertical-align: top
		margin-right: -4px
		width: 42%
		white-space: nowrap
		margin-bottom: 20px
		&.col1 
			width: 58%
			.box-field__label
				width: 212px
			input[type="text"]
				width: 84px
	.box-field__label
		margin: 0
		padding: 0
		width: 180px
		text-align: right
		font-size: 16px
		font-weight: 300
		line-height: 20px
		display: inline-block
		vertical-align: middle
		margin-right: -4px
		letter-spacing: 0
	.box-field__input
		position: relative
		top: 2px
		display: inline-block
		vertical-align: middle
		margin-right: -4px
		margin-left: 12px

.box-filter
	padding: 14px 37px 33px 52px
	background: #fff
	h4 
		letter-spacing: 0
	.box-group
		.box-field
			width: 327px
			margin-bottom: 23px
			&:nth-child(2)
				width: 379px

.filter 
	margin-top: 21px
	&__label 
		margin-bottom: 9px
	&__input 
		width: 60px
		& + .filter__text
			margin: 0 12px
		&_date 
			width: 93px
			padding: 0 6px !important
	&__text 
		display: inline-block
		vertical-align: middle
		margin-right: 5px

.lot-list 
	h2 
		padding-top: 0
		padding-bottom: 29px

.list-check
	list-style: none
	&__item 
		display: inline-block
		vertical-align: top
		margin-right: 17px
		margin-bottom: 20px
		&:last-child 
			margin-right: 0
	&__label 
		height: 38px
		padding: 0 25px
		border: 1px solid #45c8dc
		+br(18px)
		+vertical
		white-space: nowrap
		text-align: center
		cursor: pointer
	.label-text 
		display: inline-block
		vertical-align: middle
		font-size: 14px
		font-weight: 400
		line-height: 20px
		[class*='icon']
			position: relative
			top: -1px
			display: inline-block
			vertical-align: middle
			margin-right: 6px	
			color: #45c8dc
			font-size: 18px
	input 
		display: none
		&:checked + .list-check__label
			background: #45c8dc
			color: #fff
			[class*='icon'] 
				color: inherit
	&_filter
		max-width: 1080px
		text-align: left
		.list-check__label 
			height: 45px
			padding: 0 31px
			margin-bottom: 22px
			+br(22px)
		.label-text 
			font-size: 16px
			font-weight: 300
			line-height: 17px
			letter-spacing: 0.4px
		input 
			display: none
			&:checked + .list-check__label .label-text:before 
				content: '\f26b'
				display: inline-block
				vertical-align: middle
				font: normal normal normal 14px/1 'Material-Design-Iconic-Font'
				font-size: inherit
				text-rendering: auto
				-webkit-font-smoothing: antialiased
				-moz-osx-font-smoothing: grayscale
				color: #fdffff
				font-size: 16px
				line-height: 18px
				position: relative
				left: -8px
				top: -1px
				margin-right: 3px

.box-table-lots
	position: relative
	margin: 24px -37px 0 -52px
	border-top: 1px solid #c9cacf
	&:before 
		content: ''
		position: absolute
		top: 177px
		left: 0
		display: block
		width: 100%
		border-top: 1px solid #c9cacf
.table-lots
	overflow-x: auto
	padding: 32px 22px 14px 22px
	
	table 
		width: 1400px
		th, td 
			vertical-align: top
			text-align: left
			font-size: 14px
			font-weight: 300
			line-height: 20px
			padding: 10px 16px
			letter-spacing: 0px
			&.lots-name	
				width: 151px
			&.lots-price	
				width: 106px
			&.lots-price2	
				width: 120px
			&.lots-summa	
				width: 128px
			&.lots-sales	
				width: 106px
			&.lots-profit	
				width: 142px
			&.lots-cmmisione	
				width: 151px
			&.lots-pulire	
				width: 136px
			&.lots-date-begin	
				width: 137px
			&.lots-date-reliz
				width: 100px
			&.text-center
				vertical-align: middle
			a 
				color: #45c8dc
				font-size: 13px
				font-weight: 500
				line-height: 20px
				letter-spacing: 0.6px
				&:hover 
					text-decoration: underline
			.link 
				letter-spacing: -0.8px
				font-weight: 400
				line-height: 14px
				&:hover 
					text-decoration: none
			.td-icon
				font-size: 20px
				line-height: 20px
		tr:nth-child(odd) td
			background-color: #ecfcff
		th 
			padding-bottom: 55px
		td 
			padding-top: 14px
	&__title 
		font-size: 14px
		font-weight: 500
		line-height: 20px
		color: #4b5161
		height: 84px
		letter-spacing: 0
		span 
			font-weight: 300

.link 
	color: #45c8dc
	font-size: 12px
	font-weight: 400
	line-height: 14px
	display: inline-block
	border-bottom: 1px dashed
	&:hover 
		border-bottom-color: transparent
		text-decoration: none

.investments
	position: relative
	margin-top: 52px
	h1, h2 
		position: relative
		z-index: 2
		line-height: 60px
		letter-spacing: 1px
	h2 
		padding-top: 0
	&-wrap 
		position: relative
		margin: 93px 0 137px
		max-width: 455px
		&:after 
			content: ''
			display: block
			position: absolute
			top: 77px
			left: 147px
			+png(shape)
	&__percent 
		position: relative
		z-index: 2
		display: inline-block
		vertical-align: top
		margin-right: -4px
		width: 124px
		font-size: 63px
		line-height: 63px
		color: #4b5161
		font-weight: 700
		span
			font-weight: 300
	&__cont 
		display: inline-block
		vertical-align: top
		margin-right: -4px
		width: 100%
		margin-left: -124px 
		padding-left: 144px
	&__title 
		padding-top: 0
		padding-bottom: 22px
		letter-spacing: 0px
		line-height: 36px
	&__descr 
		letter-spacing: 0
	&__icon 
		position: absolute
		left: 1022px
		top: 301px
		text-align: center
		.icon-profit
			font-size: 41px
			color: #a3acbb
		h4 
			padding-top: 11px
	&-circle 
		position: relative
		width: 515px
		height: 517px
		margin: 96px auto
		background: #fff
		+br(50%)
		& > * 
			position: relative
			z-index: 2
		&:after 
			content: ''
			position: absolute
			top: 0
			left: 0
			display: block
			width: 918px
			height: 921px
			margin: -203px 0 0 -210px
			background: transparent url("../img/investments-bg.png") no-repeat center
		&__title 
			position: absolute
			top: 50%
			left: 33px 
			right: 50px
			margin-top: -41px
			line-height: 35px
			letter-spacing: 0.5px
			text-align: center
	&-list 
		list-style: none
		&__item 
			position: absolute
			max-width: 300px
			width: 100%
			&:nth-child(1)
				top: -58px
				left: -356px
				.icon-bl
					top: 56px
					left: 428px
					&:after 
						top: -9px
						right: 82px
						+png(pointer)
			&:nth-child(2)
				top: 176px
				left: -421px
				.icon-bl
					top: 43px
					left: 371px
					&:after 
						top: 42px
						right: 100%
						+png(pointer2)

			&:nth-child(3)
				top: 408px
				left: -355px
				.icon-bl
					top: 24px
					left: 428px
					&:after 
						bottom: -9px
						right: 82px
						+png(pointer4)

			&:nth-child(4)
				top: -58px
				left: 608px
				.icon-bl
					top: 56px
					left: -250px
					&:after 
						top: -11px
						left: 78px
						+png(pointer3)
			&:nth-child(5)
				top: 167px
				left: 712px
				.icon-bl
					top: 51px
					left: -244px
					&:after 
						top: 42px
						left: 100%
						+rotate(180)
						+png(pointer2)
			&:nth-child(6)
				top: 408px
				left: 608px
				.icon-bl
					top: 24px
					left: -249px
					&:after 
						bottom: -9px
						left: 80px
						+png(pointer6)
		h5
			padding-bottom: 8px 
			letter-spacing: -0.1px
		p 
		.icon-bl
			position: absolute
			&:after 
				content: ''
				display: block
				position: absolute
		.icon-auto 
			font-size: 39px
			line-height: 28px

		.icon-buses 
			font-size: 39px
			line-height: 28px
		.icon-desktop 
			font-size: 36px
			line-height: 32px
		.icon-home 
			font-size: 35px
			line-height: 28px
		.icon-equipment 
			font-size: 36px
			line-height: 36px
		.icon-list 
			font-size: 40px
			line-height: 40px

.icon-bl 
	display: inline-block
	width: 87px
	height: 87px
	background-color: white
	background-image: linear-gradient(to top, rgba(221, 250, 255, 0.53) 0%, rgba(255, 255, 255, 0.53) 100%)
	background-image: -webkit-linear-gradient(to top, rgba(221, 250, 255, 0.53) 0%, rgba(255, 255, 255, 0.53) 100%)
	+br(50%)
	+bs(0 0 60px 5px rgba(69,200,220, 0.4))
	+vertical 
	[class*="icon"]
		display: inline-block
		vertical-align: middle

.theory 
	max-width: 616px
	h2 
		padding-bottom: 0
	h4 
		padding-top: 0
		padding-bottom: 37px
		letter-spacing: 0
	&__descr 
		letter-spacing: 0.33px
		padding-bottom: 16px
	.number-list 
		width: 48%
		display: inline-block
		vertical-align: top
		margin: 24px -4px 31px 0
		&_two 
			margin-left: 6.8%
			width: 35%

.number-list
	list-style: none
	&__item 
		position: relative
		margin-bottom: 14px
		min-height: 33px
		font-size: 16px
		font-weight: 300
		line-height: 22px
	&__counter	
		position: relative
		z-index: 2
		display: inline-block
		vertical-align: middle
		margin-right: -4px
		width: 33px
		height: 33px
		color: #45c8dc
		font-size: 14px
		font-weight: 400
		padding-top: 6px
		text-align: center
		background-color: white
		+br(50%)
	&__text 
		display: inline-block
		vertical-align: middle
		margin-right: -4px
		width: 100%
		margin-left: -33px
		padding-left: 50px
	&_info 
		.number-list__counter	
			background-color: #45c9dc
			color: #fff
		.number-list__text 
			padding-left: 53px

.rates 
	padding-top: 41px
	&-wrap 
		float: left
		+calc(width, '34.21% - 38px')
		margin-left: 38px
		text-align: center
		padding: 0 20px
		background-color: white
		+br(5px)
		&:first-child 
			margin-left: 0
		&_compact 
			.rates-wrap__title
				background: url("../img/rates-title.png") no-repeat center top
		&_standart 
			.rates-wrap__title
				background: url("../img/rates-title2.png") no-repeat center top
		&_premium
			.rates-wrap__title
				background: url("../img/rates-title3.png") no-repeat center top
		
		&__title 
			height: 84px
			margin: 0 -20px 31px
			padding: 22px 20px 0
			color: white
		&__descr 	
			line-height: 22px
			padding-bottom: 22px
			strong 
				font-size: 18px
		&__text 
			border-top: 1px solid #dbdcdf
			margin: 5px -20px
			padding: 25px 52px
			font-size: 14px
			line-height: 22px
			letter-spacing: 0.1px
		&-footer 
			background: #262a33
			margin: 0 -20px
			padding: 20px 20px 45px
			+br(0 0 5px 5px)
			&__title 
				font-size: 20px
				color: #fff
	&-form 
		&__field
			white-space: nowrap
			margin: 7px 0 18px
			label, input 
				display: inline-block
				vertical-align: middle
			input[type="text"]
				width: 100px
				height: 38px
				padding: 0 14px
				background-color: #363c4a
				border: none
				margin-left: 20px
				color: #45c8dc
				font-size: 18px
				font-weight: 500
				line-height: 18px
				&.sm 
					width: 88px
			label
				padding-right: 3px
				width: 140px
				text-align: right
		.btn_rates 
			margin-top: 26px
.box-rates 
	padding-top: 21px
	+clr

.how-work 
	margin-top: 36px
	&-list 
		position: relative
		margin: 15px -56px 10px 64px
		text-align: center
		background: url("../img/how-work-bg-line.png") no-repeat left 193px
		&:after, &:before
			content: ''
			position: absolute
			display: block
		&:after 
			+png(how-work-bg-circle-right)
			right: 0
			top: 44px
		&:before 
			+png(how-work-bg-circle-left)
			left: -97px
			top: 193px
		&__item
			position: relative 
			display: inline-block
			vertical-align: top
			margin-right: -4px
			width: 33.33%
			padding-left: 65px
			text-align: left
			&:before 
				content: ''
				position: absolute
				top: 44px
				left: 2px
				right: 0px
				z-index: 2
				display: block
				border-top: 1px dashed #45c7dc
			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3)
				margin-bottom: 207px
				&:after 
					content: ''
					position: absolute
					top: 44px
					left: 2px
					right: 0px
					z-index: 1
					display: block
					height: 1px
					background: -moz-linear-gradient(left,  rgba(30,87,153,0) 0%, rgba(69,199,220,1) 100%)
					background: -webkit-linear-gradient(left,  rgba(30,87,153,0) 0%,rgba(69,199,220,1) 100%)
					background: linear-gradient(to right,  rgba(30,87,153,0) 0%,rgba(69,199,220,1) 100%)
			&:nth-child(3)
				&:before 
					right: 80px
				&:after
					display: none

			&:nth-child(4),
			&:nth-child(5)
				&:after 
					content: ''
					position: absolute
					top: 44px
					right: 2px
					left: 0px
					z-index: 1
					display: block
					height: 1px
					background: -moz-linear-gradient(left,  rgba(69,199,220,1) 0%, rgba(30,87,153,0) 100%)
					background: -webkit-linear-gradient(left,  rgba(69,199,220,1) 0%,rgba(30,87,153,0) 100%)
					background: linear-gradient(to right,  rgba(69,199,220,1) 0%,rgba(30,87,153,0) 100%)
					

			&:last-child
				&:after 
					content: ''
					display: block
					height: 30px
					width: 24px
					position: absolute
					top: 29px
					right: 0
					background: url("../img/arrow-right.png") no-repeat center
				&:before 
					right: 0
			.counter
				font-size: 24px
				&:before 
					content: ''
					display: block
					position: absolute
					top: 17px
					left: 0
					z-index: 3
					width: 49px
					height: 49px
					background: #fff 
					+bs(0 0 24px rgba(69, 200, 220, 0.52))
					+br(50%)
				&:after 
					content: ''
					position: absolute
					top: 32px
					left: 15px
					z-index: 3
					display: block
					width: 19px
					height: 19px
					background-color: #4fcee1
					+br(50%)
		&__text 
			margin-top: 25px
			font-size: 16px
			line-height: 24px
			padding-right: 30px
			letter-spacing: 1.4px

.demos
	h2 
		padding: 26px 0 2px
	h4 
		padding-top: 0
	&-content
		margin-top: 29px
	&-list 
		margin-top: 26px
		list-style: none
		margin: 26px -19px 0
		&__item 
			display: inline-block
			vertical-align: top
			margin-right: -4px
			width: 33.33%
			padding: 0 19px
			margin-bottom: 38px
	&-wrap
		+br(5px)
		background: #fff
		overflow: hidden
		&__img 
			height: 281px
			img 
				min-height: 281px
				width: 100%
				display: block
		&__cont 
			padding: 22px 24px 36px
		&__title 
			position: relative
			top: 3px
			display: inline-block
			vertical-align: middle
			margin-right: -4px
			width: 100%
			margin-left: -77px
			padding: 0 0 0 117px
		&__summa 
			margin-top: 34px
			margin-left: 14px
			font-size: 14px
			line-height: 20px
			padding-bottom: 0
			letter-spacing: 0.3px
		.marker-list 
			margin-top: 34px
			margin-left: 16px

.calendar 
	position: relative
	z-index: 2
	display: inline-block
	vertical-align: middle
	margin-right: -4px
	width: 77px
	height: 77px
	padding: 8px 5px
	color: #262a33
	font-size: 14px
	font-weight: 400
	line-height: 16px
	text-align: center
	background-color: #45c7dc
	+br(2px)
	span 
		color: #fff
		display: block
		font-size: 41px
		font-weight: 700
		line-height: 44px

.cd-gallery
	width: 100%

.cd-gallery .mix
	display: none

.partners 
	margin-top: 6px
	h2 
		padding: 26px 0 2px
	h4 
		padding-top: 0
	&-wrap 
		position: relative
		margin: 1px 0 0 -46px
		min-height: 449px
		background: url("../img/partners-img.png") no-repeat left top
		+clr
	&-list 
		width: 300px
		float: right
		margin-top: 167px
		margin-right: 104px
		list-style: none
		&__item
			h5 
				padding-bottom: 5px
			&:first-child 
				margin-bottom: 32px
	&-block
		position: absolute
		top: 212px
		left: 405px
		width: 160px
		&__text 
			padding: 0
	&-rate
		position: absolute
		top: 429px
		left: 0
		max-width: 968px
		width: 100%
		text-align: center

.question
	margin-top: 30px
	&-wrap 
		margin-top: 22px
	&-form 	
		float: left
		width: 58%
		input.form-control, 
		textarea.form-control 
			height: 55px
			padding: 0 22px
			background-color: white
			border: 1px solid #aeaeae
			+placeholder-color(#929499)
			font-size: 16px
			font-weight: 300
		textarea.form-control
			padding-top: 15px
			height: 201px
		.box-group 
			margin: 0 -8px
			.box-field
				width: 33.33%
				padding: 0 8px
		.box-field 
			margin-bottom: 18px
		.btn
			margin-top: 23px
			max-width: 274px
			display: block
			width: 100%
			height: 56px
			font-size: 16px
			font-weight: 400
			+br(28px)

	&-info 
		margin-left: 62.55%
		&__title 
			padding-top: 0
			margin-top: -9px
			padding-bottom: 23px
		.social
			display: inline-block
			vertical-align: top
			margin-right: -4px
			width: 225px
		.messeger
			display: inline-block
			vertical-align: top
			width: 245px
			margin-right: -4px
			margin-left: 68px

.social	
	&-list 
		list-style: none
		margin: 0 -5px 0 -3px
		&__item 
			display: inline-block
			vertical-align: top
			padding: 0 5px
			margin-right: -4px
			margin-bottom: 10px
			width: 50%
		&__link 	
			display: block 
			height: 107px
			color: #45c8dc
			border: 1px solid #45c8dc
			+br(5px)
			+vertical
			text-align: center
			.zmdi 
				display: inline-block
				vertical-align: middle
				font-size: 24px
				line-height: 24px

			&:hover 
				background-color: #45c8dc
				color: #fff

.messeger
	&-list 
		list-style: none
		margin-top: -5px
		&__item 
			margin-bottom: 24px
			font-size: 16px
			font-weight: 500
			line-height: 22px

.training 
	height: 638px
	margin: -10px -70px 0 -83px
	padding: 46px 70px 0 83px
	background: #fff url("../img/trening-img.png") no-repeat right bottom
	h1 
		padding-top: 0
		padding-bottom: 50px
	h3 
		padding-left: 39px
		line-height: 48px
	&-wrap 
		width: 42%
	&__quote
		position: relative
		font-size: 36px
		line-height: 38px
		color: #262a33
		padding: 0 0 54px 39px
		letter-spacing: 0.7px
		&:before 
			content: '/'
			display: block
			position: absolute
			left: 0px
			top: 1px
			font-size: 44px
			line-height: 44px
			color: #3fabbf

.get-free 
	position: relative
	margin-right: -70px
	padding-right: 70px
	padding-top: 24px
	background: url("../img/get-free-bg.png") no-repeat right top
	.h2 
		line-height: 60px
		margin-bottom: 6px
	&-info 
		margin-right: 514px
		padding: 50px 40px 0 92px
		margin-top: 17px
		margin-bottom: 33px
		background: #fff
		+br(5px)
		overflow: hidden
		.get-free__quote
			margin-left: 0
			&:before 
				color: #45c8dc
				font-size: 44px
				font-weight: 300
				line-height: 44px
	&__quote 
		position: relative
		padding-top: 0
		padding-bottom: 26px
		margin-left: 33px
		font-size: 24px
		line-height: 32px
		letter-spacing: 0.5px
		&:before 
			display: block
			position: absolute
			left: -30px
			top: 2px
			content: '/'
			color: #45c8dc
			font-size: 36px
			line-height: 36px
	&__col, &-list 
		display: inline-block
		vertical-align: top
		margin-right: -4px
		width: 40%
	&-list 
		width: 43%
		list-style: none
		margin-left: 1.9%
		&__item 
			margin-bottom: 30px
		.counter 
			position: relative
			z-index: 2
			width: 69px
			font-size: 36px
		&__text 
			display: inline-block
			vertical-align: top
			margin-right: -4px
			width: 100%
			margin-left: -75px
			padding-left: 75px
			letter-spacing: 0.33px
	&__footer
		position: relative
		top: -2px 
		background: #000
		margin: 0 -40px 0 -92px
		padding: 40px 40px 42px 60px
		h5 
			position: relative
			z-index: 2
			display: inline-block
			vertical-align: middle
			width: 235px
			margin-right: -4px
			line-height: 24px
			color: #fdfdfd
			font-weight: 300
		input.get-free-form__input
			width: 224px
			height: 44px
			display: inline-block
			vertical-align: middle
			margin-right: -4px
			text-align: center
			background-color: #4a5266
			border: 1px solid #262a33
			+br(2px)
			color: white
			font-size: 16px
			font-weight: 300
			line-height: 20px
			+placeholder-color(#fff) 
		.btn 
			width: 223px
			height: 44px
			margin-right: -4px
			margin-left: 37px
			font-size: 16px
			font-weight: 400
			letter-spacing: 0.3px
	&-form 
		display: inline-block
		vertical-align: middle
		margin-left: -235px
		padding-left: 307px

	&-book 
		position: absolute
		z-index: 1
		width: 621px
		height: 644px
		top: 108px
		right: 67px
		padding: 52px 20px 40px 264px
		background: url("../img/book.png") no-repeat center
		&__title 
			position: relative
			font-weight: 900
			font-size: 40px
			&:after 
				content: ''
				display: block
				left: 0
				position: absolute
				bottom: -5px
				width: 61px
				height: 8px
				background: #50b7c7
		&__descr
			position: absolute
			bottom: 109px
			left: 265px
			right: 20px
			font-size: 26px
			line-height: 36px
			max-width: 245px
			letter-spacing: 0.8px
	.number-list
		display: inline-block
		vertical-align: top
		margin-right: -4px
		margin-bottom: 10px
		width: 41%
		margin-top: 8px
		&_two 		
			margin-left: 12.3%
		&__item 
			margin-bottom: 16px
		&__text 
			letter-spacing: 0.3px

.lessons
	margin: 33px -70px 0 -83px
	background: #fff 
	padding: 35px 70px 71px 83px
	h2 
		padding-bottom: 40px
	.get-free__quote
		margin-left: 30px
		width: 40%
		display: inline-block
		vertical-align: top
		margin-right: -4px
	&-form 
		display: inline-block
		vertical-align: top
		width: 47%
		margin-right: -4px
		margin-left: 9.84%
		margin-top: 1px
		p 
			letter-spacing: 0.33px
			padding-bottom: 28px
		input.lessons-form__input 
			width: 43.5%
			padding: 0 20px
			font-size: 16px
			font-weight: 300
			display: inline-block
			vertical-align: middle
			margin-right: -4px
			height: 44px
			border: 1px solid #d6d6d6
			+br(2px)
		&__button 	
			position: relative
			top: 2px
			height: 44px
			width: 32.5%
			margin-left: 3%
			font-size: 16px
			letter-spacing: 0.5px

.causes
	margin-top: 34px
	h2 
		line-height: 60px
	&-list 
		margin-top: 14px
		margin-bottom: 20px
		margin-left: 65px
		margin-right: -56px
		list-style: none
		&__item
			position: relative 
			display: inline-block
			vertical-align: top
			margin-right: -4px
			width: 24%
			padding-left: 65px
			margin-bottom: 28px
			&:after 
				content: ''
				position: absolute
				top: 42px
				right: 2px
				left: 0px
				display: block
				height: 1px
				background: -moz-linear-gradient(left,  rgba(69,199,220,1) 0%, rgba(30,87,153,0) 100%)
				background: -webkit-linear-gradient(left,  rgba(69,199,220,1) 0%,rgba(30,87,153,0) 100%)
				background: linear-gradient(to right,  rgba(69,199,220,1) 0%,rgba(30,87,153,0) 100%)
			&:first-child,
			&:nth-child(5n)
				width: 26.1%
			&:nth-child(2),
			&:nth-child(6)
				width: 24.9%
			&:nth-child(3),
			&:nth-child(7)
				width: 25.8%
			&:nth-child(4),
			&:nth-child(8)
				width: 23.4%
			.counter
				font-size: 24px
				&:before 
					content: ''
					display: block
					position: absolute
					top: 17px
					left: 0
					z-index: 1
					width: 49px
					height: 49px
					background: #fff 
					+bs(0 0 24px rgba(69, 200, 220, 0.52))
					+br(50%)
				&:after 
					content: ''
					position: absolute
					top: 32px
					left: 15px
					z-index: 1
					display: block
					width: 19px
					height: 19px
					background-color: #4fcee1
					+br(50%)
		&__text 
			margin-top: 25px
			font-size: 16px
			line-height: 24px
			padding-right: 75px
			letter-spacing: 1.45px

.author
	margin: 38px -70px 0 -83px
	background: #fff 
	padding: 0 0 0 83px
	overflow: hidden
	h2 
		line-height: 60px
	&-img 
		float: right
		width: 43%
		overflow: hidden
		img 
			display: block
	&-info
		padding: 32px 70px 32px 0
		margin-right: 43%
	.marker-list 
		margin: 15px 25px 34px 23px
		&__item 
			padding-left: 50px
			font-size: 16px
			font-weight: 300
			line-height: 22px
			&:after 
				top: 7px 
			&:before 
				top: 1px

.company-list 
	list-style: none
	margin: 5px 0 25px
	+justify
	&__item 
		display: inline-block
		vertical-align: middle
	&__logo
		display: block
		background: url("../img/sprite-logo.png") no-repeat left top 
		&.vesty 
			width: 102px
			height: 27px
			background-position: -27px -25px
			&:hover 	
				background-position: -27px -158px
		&.vesty2 
			width: 107px
			height: 34px
			background-position: -159px -22px
			&:hover 	
				background-position: -159px -155px
		&.oboz 
			width: 191px
			height: 35px
			background-position: -313px -21px
			&:hover 	
				background-position: -313px -154px
		&.ra_vesty 
			width: 118px
			height: 38px
			background-position: -527px -20px
			&:hover 	
				background-position: -527px -153px
		&.kremlin 
			width: 132px
			height: 22px
			background-position: -682px -29px
			&:hover 	
				background-position: -682px -162px
		&.vesty_fm 
			width: 182px
			height: 26px
			background-position: -31px -86px
			&:hover 	
				background-position: -31px -219px
		&.techbiz 
			width: 126px
			height: 36px
			background-position: -255px -84px
			&:hover 	
				background-position: -255px -217px
		&.alk_vesty 
			width: 113px
			height: 34px
			background-position: -431px -86px
			&:hover 	
				background-position: -431px -219px
		&.filrst_bit 
			width: 144px
			height: 34px
			background-position: -590px -84px
			&:hover 	
				background-position: -590px -217px
		&.netcat 
			width: 45px
			height: 34px
			background-position: -774px -86px
			&:hover 	
				background-position: -774px -219px

.results
	margin-top: 38px
	&-slider 
		margin: 21px 35px 20px 60px
		text-align: center
		.slick-arrow 
			background-color: transparent
			border: none
			font-size: 34px
			margin-top: -48px
		.slick-prev
			left: -66px
		.slick-next 
			right: -44px
		&__img 
			display: inline-block
			vertical-align: top
			width: 215px
			height: 215px
			+br(50%)
			overflow: hidden
			border: 24px solid rgba(255,255,255, 0.5)
			img 
				display: block
				width: 100%
		p 
			padding-top: 14px
			font-size: 18px
			font-weight: 300

.box-tab-cont
	position: relative
	margin: 45px 57px 0 76px
.hide
	position: absolute
	left: 0 
	top: 0
	height: 0 
	width: 0
	overflow: hidden
	z-index: -1
	+opacity(0)

.login
	position: absolute
	top: 100px
	left: 305px 
	right: 0
	bottom: 0
	overflow-y: auto
	text-align: center
	
	&-wrap 
		+vcenter


.box-form-group
	display: inline-block
	vertical-align: top
	margin-top: 16px
	.box-field
		margin-bottom: 27px
		&__label 
			color: #262a33
			font-size: 18px
			font-weight: 300
			line-height: 20px
			margin-bottom: 9px
		&__input 
			margin: 0 auto
			width: 290px
			input
				height: 54px
				border: 1px solid #d6d6d6
				+br(2px)
				font-size: 20px
				text-align: center
				font-weight: 300
				line-height: 20px
				color: rgba(38,42,51,0.5)
				+placeholder-color(rgba(38,42,51,0.5))
			
		& + .dop-text 
			margin-top: -4px

	.box-form__button 
		display: block
		width: 100%
		max-width: 290px
		margin: 25px auto 0
.dop-text 
	font-size: 18px
	line-height: 20px
	color: #7c7c7c
	font-weight: 300
	letter-spacing: 0
	a
		color: #45c8dc
		font-weight: 500
		text-decoration: underline
		&:hover 
			text-decoration: none

/* 7. FOOTER
/* ================================================ */
footer
	text-align: left
	position: absolute
	left: 0px
	bottom: 0px
	z-index: 1
	width: 100%
	min-width: 320px

/* 8. MEDIA
/* ================================================ */


+max-screen(1600px)
	.video-info, .video-cont
		height: 400px
	.box-filter .box-group .box-field,
		width: 240px
	.box-filter .box-group .box-field:nth-child(2)
		width: 300px

+max-screen(1400px)
	.header-wrapper
		padding: 30px 19px 0 53px
	.user
		margin-left: 40px
	.content
		padding-right: 40px
		padding-left: 359px

	.video-info
		width: 280px
		padding: 12px 20px 41px 20px
		&__title 
			font-size: 22px
			line-height: 26px
		&__text 
			font-size: 16px
			line-height: 24px
	.video-info, .video-cont
		height: 330px

	.box-filter
		padding-left: 20px
		padding-right: 20px
	.box-table-lots
		margin-left: -20px
		margin-right: -20px

	.box-filter .box-group .box-field
		width: 227px
	.box-filter .box-group .box-field:nth-child(2)
		width: 289px


+max-screen(1200px)
	h1 
		font-size: 42px
		line-height: 46px
		padding-bottom: 20px
	header
		left: 280px
	.header-wrapper 
		padding-left: 40px
	.sidebar
		width: 280px
	.content
		padding-left: 320px
	.logo	
		padding: 26px 20px 26px 32px
	.main-nav-list__link
		padding-left: 65px
	.main-nav-list__icon
		left: 28px

+max-screen(1120px)
	.phone
		display: none
	
	.list-check__item
		margin-right: 12px
		margin-bottom: 12px
	
+min-screen(1101px)
	.hidden-desktop
		display: none
+max-screen(1100px)
	.hidden-laptop
		display: none

	.video-wrap, .video-info, .video-cont
		display: block

	.video-info
		width: auto
		height: auto
		background-color: transparent
		padding: 20px 0
		br 
			display: none
	.video-cont
		height: 300px
	
	.box-table-lots:before
		display: none
	.table-lots
		padding: 0
	.table-lots table th,
	.table-lots table td 
		border-left: 1px solid #c9cacf
		&:first-child
			border-left: none
	.table-lots table th
		padding-bottom: 15px
		border-bottom: 1px solid #c9cacf

