/* ================================================ */
/*--                                             -- */
/*--     1. Fonts                                -- */ 
/*--     2. Normalize                            -- */ 
/*--     3. Main                                 -- */  
/*--       3.1 Icons                             -- */ 
/*--       3.2 Buttons                           -- */ 
/*--       3.3 Forms                             -- */ 
/*--     4. Header                               -- */ 
/*--     5. Content                              -- */ 
/*--     6. Footer                               -- */ 
/*--     7. Media                                -- */ 
/*--                                             -- */
/* ================================================ */

/* 1. FONTS */
/* ================================================ */

+font('Roboto', 'RobotoLight')
    font-style: normal
    font-weight: 300
+font('Roboto', 'Roboto')
    font-style: normal
    font-weight: 400
+font('Roboto', 'RobotoMedium')
    font-style: normal
    font-weight: 500
+font('Roboto', 'RobotoBold')
    font-style: normal
    font-weight: 700
+font('Roboto', 'RobotoBlack')
    font-style: normal
    font-weight: 900


/* 2. NORMALIZE
/* ================================================ */
html, body, div, span, applet, main, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
    margin: 0
    padding: 0
    border: 0
    font-size: 100%

/* HTML5 display-role reset for older browsers*/
article, aside, details, main, figcaption, figure, footer, header, hgroup, menu, nav, section
    display: block

body
    margin: 0px
    padding: 0px
    font-family: 'Roboto', Arial, Tahoma, sans-serif
    line-height: 1.1
    background-color: #ffffff
    height: 100%
    position: relative
    font-size: 16px 
    font-weight: 400
    color: #4b5161
    letter-spacing: 0.4px
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    background-image: linear-gradient(to left, #bdf6ff 0%, #f0fcff 99%, #f1fcff 100%)
    background-image: -webkit-linear-gradient(to left, #bdf6ff 0%, #f0fcff 99%, #f1fcff 100%)
    &.g-du .main-wrapper
        background-color: #f8feff
        background-image: linear-gradient(219deg, #aaf4ff 0%, #d8f8ff 100%)
        background-image: -webkit-linear-gradient(219deg, #aaf4ff 0%, #d8f8ff 100%)
        

blockquote, q
    quotes: none

blockquote
    &:before, &:after
        content: ''
        content: none

q
    &:before, &:after
        content: ''
        content: none

table
    border-collapse: collapse
    border-width: 0px
    padding: 0px
    margin: 0px

html
    height: 100%
    -webkit-text-size-adjust: none
    -ms-text-size-adjust: none

input, textarea
    color: #333
    outline: none
    border-radius: 0
    -moz-border-radius: 0
    -webkit-border-radius: 0
    -webkit-appearance: none

input
    &[type="button"], &[type="submit"]
        cursor: pointer
        -webkit-appearance: none
        outline: none

button
    cursor: pointer
    -webkit-appearance: none
    outline: none

td, form
    margin: 0px
    padding: 0px

a
    color: #000100
    +tr(all 0.2s linear)
    text-decoration: none
    outline: none
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)

*
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
    &:before, &:after
        -webkit-box-sizing: border-box
        -moz-box-sizing: border-box
        box-sizing: border-box

.clearfix:after, .wrapper:after
    content: "."
    display: block
    height: 0
    clear: both
    visibility: hidden