
=png($name)
	background: url("../img/#{$name}.png?ver1.0") no-repeat 0 0
	//background-image: inline-image("#{$name}.png",'image/png')
	+image-size("img/#{$name}.png")
=jpg($name)
	background: url("../img/#{$name}.jpg?ver1.0") no-repeat 0 0
	//background-image: inline-image("#{$name}.jpg",'image/jpg')
	+image-size("img/#{$name}.jpg")

=bg($name, $left, $top)
	background: url("../img/#{$name}.png?ver1.0") no-repeat $left $top